<section class="row" ng-controller="AboutController">
<br>
  <div class="col m12 s12">
  <h5>Let's talk about us....err, we're volunteer developers from IBM Germany...</h5>
  <img src="http://imgs.xkcd.com/comics/compiling.png">
  
  <br><br>
  
  <h5>One day, we tried to solve the migrant crisis and came up with this solution...</h5>
  <img src="http://imgs.xkcd.com/comics/the_general_problem.png">
  
  <br><br>
  <h5>We worked on this 24/7, because this is important for us...</h5>
  <img src="http://imgs.xkcd.com/comics/duty_calls.png">
  
  <h5>This site is hosted on <a href="http://www.ibm.com/Bluemix">IBM Bluemix(IBM Cloud)</a>, powered by <a href="http://meanjs.org/">mean.JS framework</a>
  . And <a href="https://www.ibm.com/design/language/">IBM design language</a> did the magic to make it look awesome!</h5>
  <img src="http://xkcdsw.com/content/img/3822.png">
  <br><br>
  
  <h5>We hope it can help migrants integrate into Germany in the long run...</h5>
  <img src="http://imgs.xkcd.com/comics/upside_down_map.png">
  <br><br>
  <h5>If you have any questions, contact us <a href="#">here</a>! </h5>
  <h6>The link doesn't work yet...</h6>
  <br><br>
  <h6>copyright: XKCD.com forever!</h6>
  </div>
  
</section>
