<style> 
@media screen and (min-width:993px) {
html {min-height:95%;}
footer {height:0;}
}
</style>

<section ng-controller="MailsController" ng-init="find(0)">
<br>
  <div class="row">
    <div class="s12 col ibm-mail">
    <div ng-repeat="mail in mails| orderBy:'mail.created'">
        <ul class="collapsible" data-collapsible="accordion">
          <li >
          <div class="collapsible-header" ng-click="clickMailTitle(mail)" >
            <div class="row">
              <div ng-class="properties.rightToLeft ? 'col l1 m2 s3 push-s9 right':'col l1 m2 s2 left'">
                  <img ng-src="{{mail.sender.profileImageURL}}" alt="senderPicture" data-fallback-src class="circle">
              </div>
              <div ng-class="properties.rightToLeft ? 'col l11 m10 s9 pull-s3 right-align':'col l11 m10 s10'">
                <span ng-show="!mail.unread && !properties.rightToLeft">{{mail.sender.displayName}} &nbsp;  &nbsp;{{mail.title}}</span>
                <span ng-show="mail.unread && !properties.rightToLeft" class="unread-email">{{mail.sender.displayName}} &nbsp; &nbsp;{{mail.title}}</span>
                <!-- for Arabic look -->
                <span ng-show="mail.unread && properties.rightToLeft" class="unread-email">{{mail.title}} &nbsp; &nbsp;{{mail.sender.displayName}}</span>
                <span ng-show="!mail.unread && properties.rightToLeft">{{mail.title}} &nbsp;  &nbsp;{{mail.sender.displayName}}</span>
                <span id="mailDelete.{{$index}}" href="#!" ng-class="properties.rightToLeft ? 'left':'right'"  ng-really-message="{{properties.confirmDeleteMessage}}" ng-really-click="removeMail(mail)">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
                    <rect x="12" y="2" width="8" height="2"/>
                    <path d="M6,5v5h1v20h18V10h1V5H6z M23,28H9V12h14V28z"/>
                    <rect x="11" y="14" width="1" height="12"/>
                    <rect x="14" y="14" width="1" height="12"/>
                    <rect x="17" y="14" width="1" height="12"/>
                    <rect x="20" y="14" width="1" height="12"/>
                    </svg>
                </span>
                <small ng-class="properties.rightToLeft ? 'left':'right'" ng-bind="mail.created | date:'MMM d, h:mm a'"></small>
              </div>
            </div>
          </div>
          <div class="collapsible-body" ng-class="properties.rightToLeft ? 'right-align':''">
            <div ng-include src="'modules/mails/client/views/mail.content.view.html'"></div>
          </div>
          <div class="collapsible-body" ng-click="setReplyingMode(mail)">
            <p ng-if="!mail.inReplyingMode" ng-class="properties.rightToLeft ? 'right-align':''"><a>{{properties.reply}}</a></p>
            <div ng-if="mail.inReplyingMode" ng-include src="'modules/mails/client/views/mail.reply.view.html'"></div>
          </div>
          
          </li>
          </ul>
          </div>
    </div>
  </div>
  <div class="ibm-submit-area" ng-class="properties.rightToLeft ? 'arabic':'latin'">
    <button class="setting-button btn waves-effect waves-light" ng-show="hasMoreMail" ng-click="find(5)">{{properties.loadMore}}</button>
  </div>
</section>


