<section ng-controller="HomeController">
<!-- loading google map API asynchronizely TODO only initialize this once, otherwise chrome developer console will complain
You have included the Google Maps API multiple times on this page. This may cause unexpected errors. -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
  
  <div slider height="500" transition="400" class="welcome-caption-behaviour">
    <ul class="slides">
      <li>
        <img src="modules/core/client/img/startpage/img4.jpg">
        <div class="caption center-align">
          <h3>Welcome</h3>
        </div>
      </li>
      <li>
        <img src="modules/core/client/img/startpage/img1.jpg">
        <div class="caption left-align">
          <h3> to </h3>
        </div>
      </li>
      <li>
        <img src="modules/core/client/img/startpage/img3.jpg">
        <div class="caption right-align">
          <h3>Germany</h3>
        </div>
      </li>
      <li>
        <img src="http://www.make-it-in-germany.com/fileadmin/content/make-it-in-germany/Bilder/MakeitinGermany/Offensive/Die-Offensive_01.gif">
      </li>
    </ul>
  </div>

  <div class="logo-position container">
  <br><br>
    <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
      <img src="modules/core/client/img/brand/logo.svg" style="display:block;height:200px;margin:0 auto;" class="imgLogo"/>  
      <br><br>
    </div>
  </div><br>

  <div ng-hide="mainCallToButtons" class="row center">
    <a href="" id="findHelp" class="btn-large waves-effect waves-light red darken-1" ng-click="toggleFindHelp()"><i class="material-icons left">live_help</i>Find Help</a>
    <a href="" id="helpOthers" class="btn-large waves-effect waves-light" ng-click="toggleHelpOthers()"><i class="material-icons left">supervisor_account</i>Help Others</a>
  </div>
    
  <div ng-show="findHelpCallToButtons" class="row center" >
    <a href="offerings" id="" class="btn-large waves-effect waves-light red darken-1"><i class="material-icons left">live_help</i>Search existing Offers</a>
    <a href="offerings" id="searchOffers" class="btn-large waves-effect waves-light red darken-1"><i class="material-icons left">supervisor_account</i>Create new Help Request</a>
    <a class="btn-floating btn-large waves-effect waves-light transparent goBackCallToButtons" ng-click="toggleFindHelp()"><i class="material-icons">skip_previous</i></a>
  </div>
    
  <div ng-show="helpOthersCallToButtons" class="row center">
    <a href="" id="searchHelp" class="btn-large waves-effect waves-light"><i class="material-icons left">live_help</i>Search existing Help Request</a>
    <a href="" id="newOffer" class="btn-large waves-effect waves-light"><i class="material-icons left">supervisor_account</i>Insert new Offer</a>
    <a class="btn-floating btn-large waves-effect waves-light transparent goBackCallToButtons" ng-click="toggleHelpOthers()"><i class="material-icons">skip_previous</i></a>
  </div>
  <br><br>
</section>

<section>
  <div class="container ">
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">supervisor_account</i></h2>
            <h5 class="center">You are one of us</h5>
            <p class="light">You're not alone. We try to connect refugees who need help and people who want to offer help.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">place</i></h2>
            <h5 class="center">Coordinating help</h5>

            <p class="light">We take your geo location into account to make it easy to find nearby offers and requests.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">insert_emoticon</i></h2>
            <h5 class="center">Easy to use</h5>

            <p class="light">You can search available offers or demands, or add offers yourself.</p>
          </div>
        </div>
      </div>
    </div>
</section>
