<section ng-controller="HomeController" class="ibm-home-container">
    <div class="row">
        <div class="col s12 m12 ibm-cover-container">
            <img src="modules/core/client/img/startpage/cover.jpg">
        </div>
        <div class="col s12 m12 ibm-welcome-bar" ng-if="!properties.rightToLeft">
            <div class="col s5 m2 left">
                <img src="modules/core/client/img/brand/logo.svg"/> 
            </div>
            <div class="col s7 m8">
                <h1>{{properties.headline}}</h1>
                <h2>{{properties.subheadline}}</h2>
            </div>
        </div>
        <div class="col s12 m12 ibm-welcome-bar arabic" ng-if="properties.rightToLeft">
            <div class="col s7 m10">
                <h1>{{properties.headline}}</h1>
                <h2>{{properties.subheadline}}</h2>
            </div>
            <div class="col s5 m2 right">
                <img src="modules/core/client/img/brand/logo.svg"/> 
            </div>
        </div>
    </div>
</section>

