<section ng-controller="HomeController">
  <div class="container cover-container">
      <img src="modules/core/client/img/startpage/cover.jpg">
  </div>
  <div class="container">
    <div class="col s12 m4 ibm-welcome-bar-color">
    <br>
      <h3><img src="modules/core/client/img/brand/logo.svg" class="logo-main left"/>  
      Welcome to Germany</h3>
      <h5>Hi there, how can we help you today?</h5>
      <br><br>
    </div>
    <div class="row">
        <div class="col s12 m4">
          <div class="container container-footer ibm-help-bar-color">
            <h1 class="ibm-icon-help center"></h1>
              <h5 class="center">Germany in a nutshell</h5>
            <p class="center light">Register in the city hall, open a bank account, get health care, learn languages, find schools for your kids</p>
            <br>
            <p class="center"><a href="#" id="quickHelp" class="btn-large waves-effect waves-light">
                Quick Help</a>
            </p>
            <br>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="container container-footer ibm-help-bar-color">
            <h1 class="ibm-icon-location center"></h1>
            <h5 class="center">Coordinating help</h5>
            <p class="center light">We take your geo location into account to make it easy to find nearby offers and requests.</p>
            <br>
            <p class="center"><a href="offerings/search?offerType=offer" id="findHelp" class="btn-large waves-effect waves-light">
                Find Help</a>
            </p>
            <br>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="container container-footer ibm-help-bar-color">
            <h1 class="ibm-icon-group center"></h1>
            <h5 class="center">You are One of Us</h5>
            <p class="center light">You're not alone. We try to connect refugees who need help and people who want to offer help.</p>
            <br>
            <p class="center"> <a href="offerings/create?offerType=offer" id="helpOthers" class="btn-large waves-effect waves-light">
                Help Others</a> 
            </p>
            <br>
          </div>
        </div>
      </div>
    </div>
</section>
