@import "../../../../public/lib/IBM-Design-Colors/ibm-colors";
 
.ibm-offering-category-checkbox.latin{
    label{
        margin-right: 3%;
     }
 }
 .ibm-offering-category-checkbox.arabic{
    input, label {
        margin-left: 3%;
        float: right;
    }
}
 
.ibm-offering-list.card {
    background-color: color('cool-white', 20);
    color: color('gray', 60); 
    .card-content{
        .card-title{
            font-weight: bold;
            position: relative;
        }
        svg{
            fill: color('gray', 40);
            margin: auto;
            margin-top: 0.5rem;
        }
        svg:hover{
           fill: color('gray', 70);
        }
    }
    
    .card-action{
        a{
            text-transform: lowercase;
            color: color('blue', core);
        }
    }
}

.ibm-offering-list.card .modal .modal-content{
    color: color('gray',90);
    svg {
        fill: color('gray', 20);
        height: 24px;
    }
}

/* geo location when there's no geo service, a drop down select city list is shown*/
.ibm-input-field select {
    display: inline-flex;
    background: color('cool-white', 20);
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top: 2%;
    height: 36px;
    overflow: hidden;
    
    option{
        background: color('gray',80);
        color: color('white', core);
        border: 0;
    }
}

/* flip icon to 180 degree for clock icon */
.ibm-input-field {
        svg.flip-icon{
            transform: rotate(180deg);
        }
}

/* Show current search progress */
.offering-search-status {
  strong{
   color: color('black', core);
  }
}

/* search progress area in Latin languages - from left to right*/ 
.offering-search-status.latin{
  button, a, strong{
    float:left;
  }
}

/* search progress area in Arabic languages - from right to left */ 
.offering-search-status.arabic{
  button, a, strong{
    float:right;
  }
  button svg{
    margin-top: 5px;
    margin-right: 5px;
    float:left;
    transform: rotate(90deg);
  }
}
