@import "../../../../public/lib/IBM-Design-Colors/ibm-colors";


$welcome-blue: color('blue', 40);
$text-blue: color('blue', 40);
$light-grey: color('cool-gray', 10);
$white: color('white');
$button-teal: color('teal', 60);

.ibm-header-color{
    background: color('cool-gray', 80);
    color: $white;
}

.ibm-welcome-bar-color{
    background: $welcome-blue;
    color: $white;
}

.ibm-help-bar-color{
    background: $light-grey; 

    h5{
        color: $text-blue;
    }  
    
    a{
        background: $button-teal;
    }
}