@import "../../../../public/lib/IBM-Design-Colors/ibm-colors";


/** color/font/icon designed by IBM designer Christian Fritsche
 * All CSS styles have to show properly on smartphone as well.
*/
header, main, footer {
    display: block;
    padding: 0;
}

nav {
    overflow: visible;
}
   
/** The header that controls the entire bar color/text/font **/
.ibm-header{
   background: color('gray', 80);
    /* text color */
    color: color('white', core);
     /* a: title */
    a{
        font-family:"HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; font-weight:300; font-stretch:normal;
     }
}

.ibm-brand-logo{
    font-size: 25px;
}

.ibm-header-logo{
  display: inline-block;
  margin-top: 8px;
  background-repeat: no-repeat;
  width: 50px;
  border: 3px solid white;
  background-color:rgb(255,255,255); 
  background-color:rgba(255,255,255,0.7);
  border-radius: 50%;  
}

/** The logo in the header bar in Latin languages*/
.ibm-header-logo.left{
  margin-right: 20px;
}

/** The logo in the header bar in Arabic*/
.ibm-header-logo.right{
  margin-left: 20px;
}

@media screen and (max-width:500px) {
  /* smaller screens */
  .ibm-header{
    padding: 0 10px 0 10px;
  }   
  .ibm-header-logo{
    width: 40px;
  }
   /* welcome to Germany bar for smaller screens, logo to the right needs space*/   
  .ibm-welcome-bar.arabic{
        img{
            margin-right: 10%;
        }
    }
}

@media screen and (min-width:960px) {
  /* bigger screens */
  .ibm-header{
    padding: 0 200px 0 200px;
   }
  
   /* welcome to Germany bar for bigger screens*/   
  .ibm-welcome-bar.arabic{
        h1,h2{
            margin-left: 70%;
        }
    }
}

/** The logo in the header bar for small screen such as mobile */

/* dropdown - for each menu */
/* override materialize dropdown hover color because red is ugly :P */
.ibm-dropdown-container{
    li:hover, li.active{
        /* menu background color when it's hovered*/
        background: color('gray', 10);
     
        /* text color when the header menu is active or hovered*/
        a.active, a:hover{
            color: color('gray', 80);    
        }
    }
    
}


/* dropdown - for each component inside the menu*/
.ibm-dropdown-component{
    /* the first menu item starts below the header bar*/
    margin-top: 64px;
    background: color('gray', 80);
    /* li: menu component */
    li{
        a{  
            /* menu text */
            color: color('white', core);
            font-family:"HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; font-weight:300; font-stretch:normal;
            
            /* small material icon for language check marks */
            i.small{
                font-size: 16px;
            }
            /* large material icon for the rest of icons if it's not an IBM design icon */
            i.large{
                font-size: 26px;
            }
            /* svg IBM design icons*/
            svg{
                fill: color('white', core);
                margin: 0 20px 20px 0;
            }
         } 
         a:hover, a.active, a:hover svg, a.active svg {
            /* menu component text e.g. mail, profile */
            color: color('gray', 80);
            /* svg icons of menu components*/
            fill: color('gray', 80);
         }
     }
     /* the menu component being currently selected is highlighted in a light color, so the text should be dark*/
     li.active{
        a, a svg {
            /* menu component text e.g. mail, profile */
            color: color('gray', 80);
            /* svg icons of menu components*/
            fill: color('gray', 80);
        }
     }   
}

/* mobile menu */
.ibm-mobile-menu{
    background: color('gray', 80);
    /* li: menu component */
    li{
        
        a{
            /* menu text */
            color: color('white', core);
            font-family:"HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; font-weight:300; font-stretch:normal;
            
            /* small material icon for language check marks */
            i.small{
                margin-top: 20px;
                font-size: 16px;
            }
            /* large material icon for the rest*/
            i.large{
                padding: 15px 0 0 0;
                font-size: 36px;
            }
           
            /* svg IBM design icons*/
            svg{
                fill: color('white', core);
                margin: 15px 20px 0 0;
            }
            
        } 
        a:hover {
            /* menu text */
            color: color('gray', 80);
        }
        a:hover svg{
            fill: color('gray', 80);
        }
         
         
     }   
}
/** Cover picture - no gap between the picture and its neighbours, no padding to the grid, the rule with !important is always applied **/
.ibm-cover-container {
  margin-bottom: -10px;
  padding-left: 0 !important;
  padding-right: 0 !important;

  /* img: cover picture */
  img {
    width: 100%;
    overflow: hidden;
    display: block;
  }
}


/** welcome bar - between the header and the footer */
.ibm-welcome-bar{
    background: color('blue', 40);
    
    /* text color */
    color: color('white', core);
    
    /* img: logo in Latin languages */
    
    img {
        margin: 20px 0 20px 0;
        display: block;
        height: 100px;
        border: 4px solid white;
        background-color:rgb(255,255,255); 
        background-color:rgba(255,255,255,0.7);
        border-radius: 100px;  
    }   
      
    /* h1: headline */
    h1 {
        font-family:"HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; font-weight:300; font-stretch:normal;
        font-size: 32px;
    }
    
    /* h2: sub-headline */
    h2 {
        font-family:"HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; font-weight:500; font-stretch:normal;
        font-size: 16px;
    }
}


/* Help bar/footer */

.ibm-help-bar{
    background: color('cool-white', 20);
    padding: 10px 10px 0 10px;
    margin-top: 20px;
    /* h1: icon */
    h1 svg{
        fill: color('blue', 40);
    }
    /* h2: headline */
    h2{
        color: color('blue', 40);
        font-family:"HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; font-weight:300; font-stretch:normal;
        font-size: 20px;
        
    }  
    /* p: text */
    p{
        color: #30393b;
        font-family:"HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; font-weight:300; font-stretch:normal;
        font-size: 11px;
        
    }
    /* a: button */
    a{
        background: color('teal', core);
        font-family:"HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; font-weight:300; font-stretch:normal;
        font-size: 16px;
        text-transform: capitalize;
    }
    
}


/** This design below comes with Mean.JS **/
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;

}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}



