<div ng-controller="FirstStepController" ng-init="initialize()">
  <div class="row">
  <br>
    <div class="col m12 s12" ng-class="properties.rightToLeft ? 'right-align':'left-align'">
      <h4>{{properties.welcomeDescription}}</h4>
    </div>
  </div>

  <!-- Let the controller determine the resources, since we may eventually
    want to tailor what resources are displayed based on geolocation.
  -->
  <div class="row">
    <div class="col m12 s12" ng-class="properties.rightToLeft ? 'right-align':'left-align'">
    <ul>
      <li ng-repeat="resource in resources" href="{{resource.link}}" class="list-group-item">
        <div class="ibm-offering-list card">
          <div class="card-content"> 
            <span class="card-title" ng-bind="resource.header"></span>
            <p ng-bind="resource.description"></p>
            <br>
            <div class="ibm-firsthelp-resources-breakword card-action">
                <a ng-href="{{resource.link}}">{{resource.link}}</a>
            </div>
          </div>
        </div>
      </li>
    </ul>
    </div>
  </div>
</div>
