<div ng-controller="FirstStepController" ng-init="initialize()">
  <div class="row">
    <div class="col m12 s12" ng-class="properties.rightToLeft ? 'right-align':'left-align'">
      <h2>{{properties.welcomeTitle}}</h2>
      <h5>{{properties.welcomeDescription}}</h5>
    </div>
  </div>

  <!-- Let the controller determine the resources, since we may eventually
    want to tailor what resources are displayed based on geolocation.
  -->
  <div class="row">
    <div class="col m12 s12" ng-class="properties.rightToLeft ? 'right-align':'left-align'">
      <a ng-repeat="resource in resources" href="{{resource.link}}" class="list-group-item">
        <h4 ng-bind="resource.header"></h4>
        <p ng-bind="resource.description"></p>
        <div class="ibm-firsthelp-resources-breakword">
          <p ng-bind="resource.link"></p>
        </div>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col m12 s12" ng-class="properties.rightToLeft ? 'right-align':'left-align'">
      <h5>{{properties.searchForHelp}}</h5>
      <br>
      <p class="center">
        <a href="offerings/search?offerType=offer" class="btn-large waves-effect waves-light">
          {{properties.findHelpButton}}</a>
      </p>
      <br>
    </div>
  </div>
</div>
