/** CSS styles shared by all modules 
* @notice if you need to change the existing css styles in this file, you have to talk to the GUI team for all modules :D
*
**/
/** make IBM design icons more aligned to the input field*/
.ibm-input-field svg {
  margin: auto; }

/** hover over IBM design icons to make it look materialize css style */
.ibm-input-field :hover svg {
  transition: fill 1s;
  fill: #008571; }

.ibm-input-field.latin input + label {
  position: relative;
  top: -5rem;
  right: 0;
  float: left; }

/* override input field CSS style so people can edit from right to left in Arabic languages*/
.ibm-input-field.arabic textarea, .ibm-input-field.arabic input, .ibm-input-field.arabic p, .ibm-input-field.arabic strong {
  text-align: right; }
.ibm-input-field.arabic textarea, .ibm-input-field.arabic input {
  direction: rtl; }
.ibm-input-field.arabic label {
  /* standalone label, only used for aboutMe in editing profile right now*/
  position: relative;
  left: 0;
  float: right; }
.ibm-input-field.arabic input + label {
  position: relative;
  top: -5rem;
  left: 0;
  float: right; }
.ibm-input-field.arabic textarea + label {
  /* laying out the label in the textarea to right is tricky, we simply override materialize style*/
  right: 4rem;
  text-align: right; }
.ibm-input-field.arabic select, .ibm-input-field.arabic option {
  direction: rtl; }

/* click to show/hide the advanced offering search/create/edit options */
.ibm-toggle-advanced-options svg, .ibm-toggle-advanced-options a {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

/* button */
.ibm-button, .ibm-submit-area button, .ibm-submit-area button.confirm-button, .ibm-submit-area a.confirm-button {
  background: #008571;
  font-family: "HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 300;
  font-stretch: normal;
  font-size: 16px;
  text-transform: capitalize;
  /* override materialize style, use IBM design icons in a button */ }
  .ibm-button svg, .ibm-submit-area button svg, .ibm-submit-area button.confirm-button svg, .ibm-submit-area a.confirm-button svg {
    margin-top: 1px;
    height: 24px;
    width: 24px;
    margin-left: 5px;
    vertical-align: middle;
    fill: #fff; }

/* inherit ibm-button and override materialize style - the color changes when the div is hovered, make the color unchanged */
.ibm-submit-area :hover button svg {
  fill: #fff; }

/* submit-area with button and error message in Latin languages - from left to right*/
.ibm-submit-area.latin button, .ibm-submit-area.latin a, .ibm-submit-area.latin strong {
  float: left; }

/* submit-area with button and error message in Arabic languages - from right to left */
.ibm-submit-area.arabic button, .ibm-submit-area.arabic-rotate-icon button, .ibm-submit-area.arabic a, .ibm-submit-area.arabic-rotate-icon a, .ibm-submit-area.arabic strong, .ibm-submit-area.arabic-rotate-icon strong {
  float: right; }
.ibm-submit-area.arabic button svg, .ibm-submit-area.arabic-rotate-icon button svg, .ibm-submit-area.arabic a svg, .ibm-submit-area.arabic-rotate-icon a svg {
  /*both a and button tags can be buttons*/
  margin-top: 5px;
  margin-right: 5px;
  float: left; }

/* submit-area with button and error message in Arabic languages - from right to left.
 * Rotate the svg icon, for those icons that look better that way when read from the right.
 */
.ibm-submit-area.arabic-rotate-icon button svg, .ibm-submit-area.arabic-rotate-icon a svg {
  transform: rotate(90deg); }

.ibm-submit-area button.setting-button, .ibm-submit-area a.setting-button {
  font-size: 13px;
  font-weight: 500;
  color: #464646;
  background: #e0e0e0; }
  .ibm-submit-area button.setting-button svg, .ibm-submit-area a.setting-button svg {
    fill: #464646; }
.ibm-submit-area button.confirm-button, .ibm-submit-area a.confirm-button {
  font-size: 13px; }

.ibm-force-text-black {
  color: #000; }

.ibm-modal .modal .modal-content svg.cancel {
  fill: #c7c7c7;
  height: 24px; }

@media only screen and (min-width: 994px) and (max-width: 1440px) {
  .ibm-modal .modal {
    width: 80%; } }
@media only screen and (max-width: 414px) {
  .ibm-modal .modal {
    width: 100%; } }
.ibm-profile h4 {
  /* display name*/
  color: #121212;
  font-weight: bold; }
.ibm-profile img {
  max-height: 240px;
  max-width: 240px;
  margin-right: 5px;
  margin-bottom: -10px; }

/** Override placeholder colors for different browsers using IBM design color*/
::-webkit-input-placeholder {
  font-family: "HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 300;
  font-stretch: normal;
  color: #777677; }

:-moz-placeholder {
  font-family: "HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 300;
  font-stretch: normal;
  /* Firefox 18- */
  color: #777677; }

::-moz-placeholder {
  font-family: "HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 300;
  font-stretch: normal;
  /* Firefox 19+ */
  color: #777677; }

:-ms-input-placeholder {
  font-family: "HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 300;
  font-stretch: normal;
  color: #777677; }

/** Define font of all text */
.a .h1 .h2 .h3 .h4 .h5 .h6 {
  font-family: "HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 300;
  font-stretch: normal; }

.text-success {
  color: #2d660a; }

.text-danger {
  color: #e71d32; }

.error-text {
  display: none; }

p.help-block.error-text {
  position: relative;
  top: -2em; }

.has-error .help-block.error-text {
  display: block;
  color: #e71d32; }

.has-error .help-inline.error-text {
  display: inline; }

/*# sourceMappingURL=share-ibm-design.css.map */
