<section ng-controller="OfferingsController" ng-init="findOne()">
<div class="row">
<!-- s11 looks a bit nicer on a smaller screen so it won't display all the way to the edge -->
  <div class="col m12 s11">
    <br>
    <h4 ng-class="properties.rightToLeft ? 'right':'left'" ng-if="offerType=='request' && offeringId == '0'">{{properties.needHelpInCurrentLanguage}}</h4>
    <h4 ng-class="properties.rightToLeft ? 'right':'left'" ng-if="offerType=='offer' && offeringId == '0'">{{properties.offerHelpInCurrentLanguage}}</h4>
    <h4 ng-class="properties.rightToLeft ? 'right':'left'" ng-if="offerType=='request' && offeringId != '0'">{{properties.editNeedHelpInCurrentLanguage}}</h4>
    <h4 ng-class="properties.rightToLeft ? 'right':'left'" ng-if="offerType=='offer' && offeringId != '0'">{{properties.editOfferHelpInCurrentLanguage}}</h4>
    <form name="offeringForm" novalidate>
        <!-- start of category section -->
        <div id="category" class="col s12 ibm-offering-category-checkbox" ng-class="properties.rightToLeft ? 'arabic':'latin'">
        <br><br>
                <input type="checkbox" id="training" name="training" ng-model="category.training">
                <label for="training">{{properties.jobTraining}}</label>   

                <input type="checkbox" id="courses" name="courses" ng-model="category.courses">
                <label for="courses">{{properties.languageCourses}}</label> 

                <input type="checkbox" id="medical" name="medical" ng-model="category.medical">
                <label for="medical">{{properties.medicalAssistance}}</label> 

                <input type="checkbox" id="childcare" name="childcare" ng-model="category.childcare">
                <label for="childcare">{{properties.childCare}}</label> 

                <input type="checkbox" id="others" name="others" ng-model="category.others">
                <label for="others">{{properties.others}}</label>    
        <br><br>       
        </div> <!-- end of category section -->
        
        <!-- start with the middle section without category for a different grid layout -->    
        <div class="row">
          <div class="col m6 s11" ng-class="properties.rightToLeft ? 'right':'left'">
            <div class="input-field ibm-input-field" ng-class="properties.rightToLeft ? 'arabic':'latin'">
                <div class="row">
                    <!-- Location, toggle between geo-location and manual city-list by clicking on icon -->
                    <div ng-class="properties.rightToLeft ? 'col m1 s2 push-s10 right':'col m1 s2 left'">
                      <a ng-click="toggleGeoLocation()">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
                        <path d="M24.484,4.515C22.313,2.343,19.313,1,16,1c-3.314,0-6.314,1.343-8.484,3.515C5.344,6.687,4,9.686,4,13
                            c0,3.508,1.344,6.685,3.516,8.984L16,31l8.484-9.016C26.656,19.685,28,16.508,28,13C28,9.686,26.656,6.687,24.484,4.515z
                            M23.028,20.613L16,28.081L8.969,20.61C7.055,18.583,6,15.881,6,13c0-2.671,1.04-5.182,2.93-7.071C10.818,4.04,13.329,3,16,3
                            c2.671,0,5.182,1.04,7.07,2.93C24.959,7.818,26,10.329,26,13C26,15.881,24.945,18.583,23.028,20.613z"/>
                        <circle cx="16" cy="13" r="4"/>
                        </svg>
                      </a>
                    </div>
                    <div ng-class="properties.rightToLeft ? 'col m11 s10 pull-s2':'col m11 s10'">
                        <!-- when geo.auto.active is true, this field will be filled in when we get our geo location response -->
                        <a ng-if="geo.auto.active" ng-click="toggleGeoLocation()">
                          <input class="ibm-force-text-black" type="text" placeholder="{{properties.city}}" ng-model="geo.auto.location.city" readonly>
                        </a>
                        <!-- when geo.manual.active is true, this value is retrieved form an existing offering -->
                        <a ng-if="geo.manual.active" ng-click="toggleGeoLocation()">
                          <input class="ibm-force-text-black" type="text" placeholder="{{properties.city}}" ng-model="geo.manual.location.city" readonly>
                        </a>
                        <!-- use ng-show instead of ng-if because ng-if removes the child node from DOM, ng-model has to bind to a parent element ID
                          but we want to bind to the child ID ng-model="geo.list.location" so we use ng-show instead, it's not expensive in this case
                          since we only load the city list when geo location is blocked or not available -->
                        <select ng-show="geo.list.active" name="repeatSelect" ng-model="geo.list.location" 
                            ng-options="option.city for option in geo.list.data">
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div ng-class="properties.rightToLeft ? 'col m1 s2 push-s10 right':'col m1 s2 left'">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
                            <polygon points="15,13 13,13 14,9 12,9 11,13 11,17 15,17    "/>
                            <polygon points="21,13 19,13 20,9 18,9 17,13 17,17 21,17    "/>
                            <path d="M3,3v19v1l6,6h1h19V3H3z M27,27H10v-5H5V5h22V27z"/>
                        </svg>
                    </div>
                    <div ng-class="properties.rightToLeft ? 'col m11 s10 pull-s2':'col m11 s10'">
                        <input name="description" type="text" ng-model="description" id="description"
                        placeholder = "{{properties.description}}">
                    </div>
                </div>
                <div class="row">
                    <div ng-class="properties.rightToLeft ? 'col m1 s2 push-s10 right':'col m1 s2 left'">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
                        <path d="M16,2C8.268,2,2,8.268,2,16s6.268,14,14,14c7.732,0,14-6.268,14-14S23.732,2,16,2z M16,28C9.383,28,4,22.617,4,16
                        S9.383,4,16,4c6.617,0,12,5.383,12,12S22.617,28,16,28z"/>
                        <polygon points="22.646,8.646 16.353,14.939 12.707,11.293 11.293,12.707 14.939,16.354 13.646,17.646 14.353,18.354 15.646,17.06 
                        17.293,18.707 18.707,17.293 17.06,15.646 23.353,9.354   "/>
                        </svg>
                    </div>
                    <div ng-class="properties.rightToLeft ? 'col m11 s10 pull-s2':'col m11 s10'">
                        <input id="when" type="date" ng-model="when" name="date" class="datepicker" placeholder="{{properties.when}}">
                    </div>          
                </div>
                <div class="row">
                  <div ng-class="properties.rightToLeft ? 'col m1 s2 push-s10 right':'col m1 s2 left'">
                    <svg class="flip-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
                    <path d="M16,2C8.268,2,2,8.268,2,16s6.268,14,14,14c7.732,0,14-6.268,14-14S23.732,2,16,2z M16,28C9.383,28,4,22.617,4,16
                    S9.383,4,16,4c6.617,0,12,5.383,12,12S22.617,28,16,28z"/>
                    <polygon points="22.646,8.646 16.353,14.939 12.707,11.293 11.293,12.707 14.939,16.354 13.646,17.646 14.353,18.354 15.646,17.06 
                    17.293,18.707 18.707,17.293 17.06,15.646 23.353,9.354   "/>
                    </svg>
                  </div>
                  <div ng-class="properties.rightToLeft ? 'col m11 s10 pull-s2':'col m11 s10'">
                    <input id="expirationDate" type="date" ng-model="expiry" name="expirationDate" class="datepicker" placeholder="{{properties.expirationDate}}">
                  </div>          
                </div>  
            </div> <!-- end of input-field ibm-input-field -->
          </div> <!-- end of grid col m6 s11 -->
          <div class="ibm-submit-area" ng-class="properties.rightToLeft ? 'arabic':'latin'">
            <div class="row">
              <div class="col m12 s12">
                  <button ng-if="offeringId == '0'" type="submit" class="offering-submit-button btn btn-primary waves-effect waves-light" ng-click="createOrUpdate()">
                  {{properties.add}}
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
                  <polygon points="17,9 15,9 15,15 9,15 9,17 15,17 15,23 17,23 17,17 23,17 23,15 17,15    "/>
                  <path d="M16,2C8.269,2,2,8.269,2,16s6.269,14,14,14s14-6.269,14-14S23.731,2,16,2z M16,28C9.383,28,4,22.617,4,16S9.383,4,16,4
                  s12,5.383,12,12S22.617,28,16,28z"/>
                  </svg>
                  </button>
                  <button ng-if="offeringId != '0'" type="submit" class="offering-submit-button btn btn-primary waves-effect waves-light" ng-click="createOrUpdate()">
                  {{properties.updateButton}}
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
                  <polygon points="14,18.586 10.707,15.293 9.293,16.707 14,21.414 22.707,12.707 21.293,11.293   "/>
                  <path d="M16,2C8.269,2,2,8.269,2,16s6.269,14,14,14s14-6.269,14-14S23.731,2,16,2z M16,28C9.383,28,4,22.617,4,16S9.383,4,16,4
                  s12,5.383,12,12S22.617,28,16,28z"/>
                  </svg>
                  </button>
                  <button type="submit" class="offering-cancel-button btn waves-effect waves-light" ng-click="cancelEdit()">
                  {{properties.cancelButton}}
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
                  <polygon points="20.293,10.293 16,14.586 11.707,10.293 10.293,11.707 14.586,16 10.293,20.293 11.707,21.707 16,17.414 
                  20.293,21.707 21.707,20.293 17.414,16 21.707,11.707   "/>
                  <path d="M16,2C8.269,2,2,8.269,2,16s6.269,14,14,14s14-6.269,14-14S23.731,2,16,2z M16,28C9.383,28,4,22.617,4,16S9.383,4,16,4
                  s12,5.383,12,12S22.617,28,16,28z"/>
                  </svg>
                  </button>
                  <button ng-if="offeringId != '0'" type="submit" class="offering-delete-button btn btn-danger waves-effect waves-light" ng-click="removeSingleOffering(offering)">
                  {{properties.deleteButton}}
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
                  <rect x="12" y="2" width="8" height="2"/>
                  <path d="M6,5v5h1v20h18V10h1V5H6z M23,28H9V12h14V28z"/>
                  <rect x="11" y="14" width="1" height="12"/>
                  <rect x="14" y="14" width="1" height="12"/>
                  <rect x="17" y="14" width="1" height="12"/>
                  <rect x="20" y="14" width="1" height="12"/>
                  </svg>
                  </button>
              </div>
              <br><br>
              <div class="col m12 s12">
                  <a href="offerings/search?offerType=offer" ng-if="offerType=='request' && offeringId=='0'">{{properties.findOtherOffersText}}</a>
                  <a href="offerings/search?offerType=request" ng-if="offerType=='offer' && offeringId=='0'">{{properties.findOtherNeedsText}}</a>
              </div>
              <!-- TODO should be a pop-up and it can be closed -->
              <div class="col m12 s12" ng-show="error">
                  <strong ng-bind="error"></strong>
              </div>
            </div> <!-- end of row -->
          </div> <!-- end of ibm-submit-area -->
        </div> <!-- end of middle section without category -->
    </form>       
  </div>
</div>
</section>
