<section ng-controller="OfferingsController">
<div class="row">

    <div class="col s12">
        <div class="page-header">
            <h3>{{showTitle}}</h3>
        </div>
  
        <form name="offeringForm" class="simple-form" ng-submit="create(offeringForm.$valid)" novalidate>
          <div class="form-group" show-errors>
            <br>

            <div id="labels">
                <p>Category</p>
                <input type="checkbox" id="training" name="training" ng-model="category.training">
                <label for="training" class="category-checkbox">Job Training</label>   
      
                <input type="checkbox" id="courses" name="courses" ng-model="category.courses">
                <label for="courses" class="category-checkbox">Language Courses </label> 
      
                <input type="checkbox" id="medical" name="medical" ng-model="category.medical">
                <label for="medical" class="category-checkbox">Medical Assistance </label> 
      
                <input type="checkbox" id="childcare" name="childcare" ng-model="category.childcare">
                <label for="childcare" class="category-checkbox">Childcare </label> 
                  
                <input type="checkbox" id="others" name="others" ng-model="category.others">
                <label for="others" class="category-checkbox">Others </label> 
            </div>
            <br><br>
        
            <div class="row">
                <div class="input-field col s7">
                    <i class="material-icons prefix">description</i>
                    <input name="description" type="text" ng-model="description" id="description" class="form-control" placeholder="Description" required>
                    <div ng-messages="offeringForm.description.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Offering description is required.</p>
                    </div>
                </div>
            </div>
      
            <div class="row">
                <div class="input-field col s7">
                <i class="material-icons prefix">room</i> <input id="city" type="text" class="validate" placeholder="City" ng-model="city">
                </div>
            </div>

            <div class="row">
                <div class="input-field col s7">
                    <i class="material-icons prefix">schedule</i>
                    <label for="when">When</label>
                    <input id="when" type="date" name="date" class="datepicker" ng-model="when">
                </div>
            </div>

        <script>
          $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 10 // Creates a dropdown of 15 years to control year
          });
        </script>

            <div class="row">
                <div class="form-group col s4">
                    <button type="submit" id="createButton" class="btn waves-effect waves-light">Add
                        <i class="material-icons right">send</i>
                    </button>
                </div>
                <div class="col s4" ng-show="searchOffer">
                  <a href="offerings/search?offerType=offer" id="searchOffer">Or find what offers are out there!</a>
                </div>
                <div class="col s4" ng-show="searchRequest">
                  <a href="offerings/search?offerType=request" id="searchRequest">Or find what helps are needed!</a>
                </div>
              </div>
            
            <div ng-show="error" class="text-danger">
                <strong ng-bind="error"></strong>
            </div>

        </div> <!-- end of main form-group -->
    </form>
  </div> <!-- end of main class col s8 -->
</div>
</section>
