<section ng-controller="OfferingsEditController" ng-init="findOne()">
  <div class="row">  
    
    <div class="col s12 offset-s2">
      <div class="page-header">
          <h3>{{showTitle}}</h3>
      </div>
      <form name="offeringForm" class="form-horizontal" ng-submit="update(offeringForm.$valid)" novalidate>
        <div class="form-group" show-errors>
          <br>
          <div id="labels">
            <p>{{categoryTitle}}</p>
            <input type="checkbox" id="training" name="training" ng-model="category.training">
            <label for="training" class="category-checkbox">{{jobTraining}}</label>   

            <input type="checkbox" id="courses" name="courses" ng-model="category.courses">
            <label for="courses" class="category-checkbox">{{languageCourses}}</label> 

            <input type="checkbox" id="medical" name="medical" ng-model="category.medical">
            <label for="medical" class="category-checkbox">{{medicalAssistance}}</label> 

            <input type="checkbox" id="childcare" name="childcare" ng-model="category.childcare">
            <label for="childcare" class="category-checkbox">{{childCare}}</label> 

            <input type="checkbox" id="others" name="others" ng-model="category.others">
            <label for="others" class="category-checkbox">{{others}}</label>           
          </div>
          <br><br>
  
          <div class="row">
              <div class="input-field col s7">
                  <i class="material-icons prefix">description</i>
                    <input name="description" type="text" ng-model="offering.description" id="description" class="form-control" required>
                    <label for="description">{{description}}</label>
                    <div ng-messages="offeringForm.description.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">Offering description is required.</p>
                    </div>
              </div>
          </div>
  
          <!-- TODO  make those required, also change ng-model names in this file -->
          <div class="row">
              <div class="input-field col s7" ng-hide="geoManual">
                <i class="material-icons prefix">room</i>
                <label for="city">{{cityen}}</label>
                <input id="city" type="text" class="validate" placeholder="{{city}}" ng-model="offering.city">
              </div>
              <div class="input-field col s7" ng-show="geoManual">
                <i class="material-icons prefix">room</i>
                <select name="repeatSelect" id="where" ng-model="where" 
                  ng-options="option.name for option in citylist">
<!--
                  <option value="" disabled selected>Choose your city</option>
                  <option ng-repeat="option in citylist" value="{{option.name}}">{{option.name}}</option>
-->
                </select>
                <hr>
                <i>current selection = {{where.name}}</i><br/>
              </div>
              <style>
              select { display: flex; margin-left: 3rem; width: 93%}
              </style>
          </div>
  
          <div class="row">
              <div class="input-field col s7">
                  <i class="material-icons prefix">schedule</i>
                  <label for="when">{{when}}</label>
                  <input id="when" type="date" ng-model="offering.when" name="date" class="datepicker">
              </div>
          </div>
  
          <script>
            $('.datepicker').pickadate({
              selectMonths: true, // Creates a dropdown to control month
              selectYears: 10 // Creates a dropdown of 15 years to control year
            });
          </script>
  
  
          <div class="row">
              <div class="form-group col s4">
                  <button type="submit" id="updateButton" class="btn waves-effect waves-light">{{updateButton}}
                      <i class="material-icons right">update</i>
                  </button>
              </div>
          </div>
                
          <div ng-show="error" class="text-danger">
            <strong ng-bind="error"></strong>
          </div>
        </div>
      </form>
    </div>
  </div> <!-- end of main-row class -->
</section>
