<section ng-controller="OfferingsController" ng-init="findAllMine()">
<div class="row">
<!-- s11 looks a bit nicer on a smaller screen so it won't display all the way to the edge -->
  <div class="col m12 s11">
    <br>
    <div class="row">
      <div ng-class="properties.rightToLeft ? 'right-align col m12 s11 right':'col m12 offset-s1 s11'">
        <ul>
          <li ng-repeat="offering in offerings" class="list-group-item">
            <div class="ibm-offering-list card">
                  <!-- start display of offering cards -->
                  <div ng-include src="'/modules/offerings/client/views/single-offering-content.client.view.html'"></div>
                  <div ng-include src="'/modules/offerings/client/views/single-offering-action.client.view.html'"></div>
                  <!-- end display of offering cards -->
            </div>
          </li>
        </ul>
      </div>
      <div class="col m6 s11" ng-class="properties.rightToLeft ? 'right':'left'">
        <div class="alert alert-warning text-center" ng-if="offerings.$resolved && !offerings.length">
          <a href="offerings/create?offerType=offer&offeringId=0">{{properties.createFirstOffering}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
