<section ng-controller="OfferingsController" ng-init="findAllMine()">
<div class="row">
<!-- s11 looks a bit nicer on a smaller screen so it won't display all the way to the edge -->
  <div class="col m12 s11">
    <br>
    <div class="row">
      <div ng-class="properties.rightToLeft ? 'right-align col m12 s11 right':'col m12 offset-s1 s11'">
      <h4 >{{properties.myOfferings}}</h4>
      </div>
      <div ng-class="properties.rightToLeft ? 'right-align col m12 s11 right':'col m12 offset-s1 s11'">
        <ul>
          <li ng-repeat="offering in offerings" class="list-group-item">
              <div class="ibm-offering-list card">
                <div class="card-content">
                  <div class="row">
                    <div ng-class="properties.rightToLeft ? 'col m1 s2 push-s10 right':'col m1 s2 left'">
                        <svg ng-if="offering.offerType=='request'" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
                      <path d="M16,2C8.269,2,2,8.269,2,16s6.269,14,14,14s14-6.269,14-14S23.731,2,16,2z M23,16c0,0.893-0.174,1.743-0.479,2.528
                          c-0.711,1.829-2.164,3.281-3.992,3.992C17.744,22.826,16.893,23,16,23c-0.893,0-1.744-0.174-2.529-0.479
                          c-1.828-0.711-3.281-2.164-3.992-3.992C9.174,17.743,9,16.893,9,16c0-0.893,0.174-1.743,0.479-2.527
                          c0.711-1.829,2.165-3.283,3.992-3.994C14.257,9.174,15.107,9,16,9c0.893,0,1.743,0.174,2.529,0.479
                          c1.827,0.71,3.281,2.165,3.992,3.994C22.826,14.257,23,15.107,23,16z M19.286,8.714C18.282,8.259,17.172,8,16,8
                          s-2.282,0.259-3.286,0.714L9.766,5.766C11.586,4.653,13.715,4,16,4s4.414,0.653,6.234,1.766L19.286,8.714z M8.714,19.286
                          l-2.948,2.948C4.653,20.415,4,18.285,4,16s0.653-4.415,1.766-6.234l2.948,2.948C8.26,13.718,8,14.828,8,16S8.26,18.282,8.714,19.286
                          z M12.714,23.286C13.718,23.741,14.828,24,16,24s2.282-0.259,3.286-0.714l2.948,2.948C20.414,27.347,18.285,28,16,28
                          s-4.414-0.653-6.234-1.766L12.714,23.286z M23.286,12.714l2.948-2.948C27.347,11.585,28,13.715,28,16s-0.653,4.415-1.766,6.234
                          l-2.948-2.948C23.74,18.282,24,17.172,24,16S23.74,13.718,23.286,12.714z"/>
                      </svg>
                      <svg ng-if="offering.offerType=='offer'" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                          width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
                          <polygon points="19,5 17,6 21,12 17,12 4,12 4,15 17,15 17,16 1,16 1,19 17,19 17,20 4,20 4,23 17,23 17,24 7,24 7,27 17,27 23,27 
                            31,25 31,12"/>
                      </svg>
                    </div>
                    <div ng-class="properties.rightToLeft ? 'col m11 s10 pull-s2':'col m11 s10'">
                        <span class="card-title"> {{offering.description}}</span>
                    </div>
                  </div> 
                  <p><div class="chip waves-effect waves-light" ng-bind="offering.category"></div></p>
                  <p>{{properties.location}}: <span ng-bind="offering.city"></span></p>
                  <small class="list-group-item-text">
                    {{properties.availableOn}}
                    <span ng-bind="offering.when | date:'mediumDate'"></span>
                    <br>{{properties.lastUpdatedOn}}
                    <span ng-bind="offering.updated | date:'mediumDate'"></span>
                    <br>{{properties.expiresOn}}
                    <span ng-bind="offering.expiry | date:'mediumDate'"></span>
                  </small>
                </div>
                <div class="card-action">
                    <div class="ibm-submit-area" ng-class="properties.rightToLeft ? 'arabic':'latin'">
                      <div class="row">
                        <div class="col m12 s12" ng-if="authentication.user._id == offering.user._id">
                            <button class="offering-submit-button btn btn-primary waves-effect waves-light" ui-sref="offerings.edit({offerType: offering.offerType, offeringId: offering._id})">
                              {{properties.edit}}
                              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                              width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
                              <rect x="24.379" y="1.257" transform="matrix(0.7071 -0.7071 0.7071 0.7071 3.8726 20.3492)" width="4.243" height="8.485"/>
                              <path d="M5,21l6,6l15-15l-6-6L5,21z M11,24.171L7.828,21L20,8.829L23.172,12L11,24.171z"/>
                              <polygon points="1,31 6,29 3,26   "/>
                              </svg>
                            </button>
                            <button ng-if="offeringId != '0'" type="submit" class="offering-delete-button btn btn-danger waves-effect waves-light" ng-click="removeOfferingFromList(offering);">
                            {{properties.delete}}
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
                            <rect x="12" y="2" width="8" height="2"/>
                            <path d="M6,5v5h1v20h18V10h1V5H6z M23,28H9V12h14V28z"/>
                            <rect x="11" y="14" width="1" height="12"/>
                            <rect x="14" y="14" width="1" height="12"/>
                            <rect x="17" y="14" width="1" height="12"/>
                            <rect x="20" y="14" width="1" height="12"/>
                            </svg>
                            </button>
                        </div>
                    </div> <!-- end of ibm-submit-area -->
                </div> <!-- end of card-action -->
              </div> <!-- end of card -->
            </div>
          </li>
        </ul>
      </div>
      <div class="col m6 s11" ng-class="properties.rightToLeft ? 'right':'left'">
        <div class="alert alert-warning text-center" ng-if="offerings.$resolved && !offerings.length">
          <a href="offerings/create?offerType=offer&offeringId=0">{{properties.createFirstOffering}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
