<section ng-controller="OfferingsPublicController">
<div class="row">
  
  <div class="col m12 s12">
    <div class="page-header">
      <h3 ng-show="offerType=='request'">{{properties.searchNeedInCurrentLanguage}}</h3>
      <h3 ng-show="offerType=='offer'">{{properties.findHelpInCurrentLanguage}}</h3>
    </div>
  
    <form name="offeringFormSearch" class="form-horizontal" ng-submit="searchAll()" novalidate>
      <div class="form-group">
        <br>
        <div id="labels">
            <p>{{properties.categoryTitle}}</p>
                <input type="checkbox" id="training" name="training" ng-model="category.training">
                <label for="training" class="category-checkbox">{{properties.jobTraining}}</label>   

                <input type="checkbox" id="courses" name="courses" ng-model="category.courses">
                <label for="courses" class="category-checkbox">{{properties.languageCourses}}</label> 

                <input type="checkbox" id="medical" name="medical" ng-model="category.medical">
                <label for="medical" class="category-checkbox">{{properties.medicalAssistance}}</label> 

                <input type="checkbox" id="childcare" name="childcare" ng-model="category.childcare">
                <label for="childcare" class="category-checkbox">{{properties.childCare}}</label> 

                <input type="checkbox" id="others" name="others" ng-model="category.others">
                <label for="others" class="category-checkbox">{{properties.others}}</label>           
        </div>
        <br><br>

        <div class="row"> 
            <div class="input-field col m6 s11" ng-hide="geoManual">
                <i class="material-icons prefix">room</i>
                <input id="city" type="text" placeholder="{{properties.city}}" ng-model="city">
            </div>
            <div class="input-field col m6 s11" ng-show="geoManual">
                <i class="material-icons prefix">room</i>
                <select name="repeatSelect" id="where" ng-model="where" 
                  ng-options="option.name for option in citylist">
                </select>
            </div>
            <style>
            select { display: flex; margin-left: 3rem; width: 93%}
            </style>
        </div>

        
        <div class="row">
            <div class="input-field col m6 s11">
                <i class="material-icons prefix">explore</i>
                <input name="radius" type="text" ng-model="radius" id="radius" placeholder="{{properties.searchRadius}}">
            </div>
        </div>

        <div class="row">
            <div class="input-field col m6 s11">
                <i class="material-icons prefix">schedule</i>
                <input id="when" type="date" ng-model="when" name="date" class="datepicker" placeholder="{{properties.when}}">
            </div>
        </div>
        
        <script>
          $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 10 // Creates a dropdown of 15 years to control year
          });
        </script>
        
      </div>  <!-- end of the main form-group -->
      
      <div class="row">  
        <div class="form-group col s6 m4">
          <button type="submit" id="searchButton" class="btn waves-effect waves-light">{{properties.search}}
              <i class="material-icons right">search</i>
          </button>
        </div>
        <div class="col s6 m4">
            <a href="offerings/create?offerType=offer" ng-show="offerType=='request'">{{properties.offerOthersHelpText}}</a>
            <a href="offerings/create?offerType=request" ng-show="offerType=='offer'">{{properties.tellOthersNeedsText}}</a>
        </div>
      </div>
      
      <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
      </div>
        
    </form>
  
    <br>  
    <div class="list-group">
    <a ng-repeat="offering in offerings" ui-sref="offerings.view({offeringId: offering._id})" class="list-group-item">
      <small class="list-group-item-text">
      </small>
      <h4 class="list-group-item-heading" ng-bind="offering.description"></h4>
      <p class="list-group-item-text">Categories: <span ng-bind="offering.category"></span></p>
      <p class="list-group-item-text">Location: <span ng-bind="offering.city"></span></p>
      <p class="list-group-item-text">Distance: <span ng-bind="offering.distance"></span> km</p>
          Offered by
        <span ng-bind="offering.displayName"></span>
        and available on
        <span ng-bind="offering.when | date:'mediumDate'"></span>
        <!--         and last updated on
        <span ng-bind="offering.updated | date:'mediumDate'"></span>
        -->
    </a>
  </div>
  
  </div>
  
</div>
</section>
