<section ng-controller="OfferingsPublicController">
<div class="row">
<!-- s11 looks a bit nicer on a smaller screen so it won't display all the way to the edge -->
  <div class="col m12 s11">
    <br>
    <h4 ng-class="properties.rightToLeft ? 'right':'left'" ng-if="offerType=='request'">{{properties.searchNeedInCurrentLanguage}}</h4>
    <h4 ng-class="properties.rightToLeft ? 'right':'left'" ng-if="offerType=='offer'">{{properties.findHelpInCurrentLanguage}}</h4>
    <form name="offeringFormSearch" ng-submit="searchAll()" novalidate>
        <!-- start of category section -->
        <div id="category" class="col s12 ibm-offering-category-checkbox" ng-class="properties.rightToLeft ? 'arabic':'latin'">
        <br><br>
                <input type="checkbox" id="training" name="training" ng-model="category.training">
                <label for="training">{{properties.jobTraining}}</label>   

                <input type="checkbox" id="courses" name="courses" ng-model="category.courses">
                <label for="courses">{{properties.languageCourses}}</label> 

                <input type="checkbox" id="medical" name="medical" ng-model="category.medical">
                <label for="medical">{{properties.medicalAssistance}}</label> 

                <input type="checkbox" id="childcare" name="childcare" ng-model="category.childcare">
                <label for="childcare">{{properties.childCare}}</label> 

                <input type="checkbox" id="others" name="others" ng-model="category.others">
        
                <label for="others">{{properties.others}}</label>    
        <br><br>       
        </div> <!-- end of category section -->
        
        <!-- start with the middle section without category for a different grid layout -->    
        <div class="row">
          <div class="col m6 s11" ng-class="properties.rightToLeft ? 'right':'left'">
            <div class="input-field ibm-input-field" ng-class="properties.rightToLeft ? 'arabic':'latin'">
                <div class="row">
                    <div ng-class="properties.rightToLeft ? 'col m1 s2 push-s10 right':'col m1 s2 left'">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
                        <path d="M24.484,4.515C22.313,2.343,19.313,1,16,1c-3.314,0-6.314,1.343-8.484,3.515C5.344,6.687,4,9.686,4,13
                            c0,3.508,1.344,6.685,3.516,8.984L16,31l8.484-9.016C26.656,19.685,28,16.508,28,13C28,9.686,26.656,6.687,24.484,4.515z
                            M23.028,20.613L16,28.081L8.969,20.61C7.055,18.583,6,15.881,6,13c0-2.671,1.04-5.182,2.93-7.071C10.818,4.04,13.329,3,16,3
                            c2.671,0,5.182,1.04,7.07,2.93C24.959,7.818,26,10.329,26,13C26,15.881,24.945,18.583,23.028,20.613z"/>
                        <circle cx="16" cy="13" r="4"/>
                        </svg>
                    </div>
                    <div ng-class="properties.rightToLeft ? 'col m11 s10 pull-s2':'col m11 s10'">
                        <input ng-if="!geoManual" id="city" type="text" placeholder="{{properties.city}}" ng-model="city">
                        <!-- use ng-show instead of ng-if because ng-if removes the child node from DOM, ng-model has to bind to a parent element ID
                          but we want to bind to the child ID ng-model="where" so we use ng-show instead, it's not expensive in this case since we only 
                          load the city list when geo location is blocked or not available -->
                        <select ng-show="geoManual" name="repeatSelect" id="where" ng-model="where" 
                            ng-options="option.name for option in citylist">
                        </select>
                    </div>
                </div>
                <!-- Toggle advanced options on/off -->
                <div class="row ibm-offering-toggle-advanced-options" ng-class="properties.rightToLeft ? 'arabic':'latin'">
                    <div ng-class="properties.rightToLeft ? 'col m1 s2 push-s10 right':'col m1 s2 left'" ng-click="toggleAdvanced()">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
                            <path d="M30.366,5.876l-4.245,4.246C25.535,10.707,24.768,11,24,11s-1.535-0.293-2.121-0.879c-1.172-1.171-1.172-3.071-0.001-4.243
                            l4.245-4.245C25.164,1.226,24.108,1,23,1c-4.419,0-8,3.582-8,8c0,0.914,0.161,1.789,0.443,2.606L2.025,25.025
                            c-1.367,1.367-1.367,3.583,0,4.95C2.709,30.658,3.605,31,4.5,31s1.791-0.342,2.475-1.025l13.418-13.418
                            C21.211,16.839,22.086,17,23,17c4.418,0,8-3.582,8-8C31,7.891,30.773,6.835,30.366,5.876z M23,15c-0.654,0-1.312-0.112-1.954-0.334
                            l-1.183-0.409l-0.885,0.885L5.561,28.56C5.277,28.844,4.9,29,4.5,29s-0.777-0.156-1.06-0.44C3.156,28.277,3,27.9,3,27.5
                            c0-0.401,0.156-0.777,0.44-1.061l13.418-13.418l0.885-0.884l-0.408-1.182C17.112,10.312,17,9.654,17,9
                            c0-2.901,2.069-5.328,4.81-5.881l-1.347,1.346c-1.948,1.95-1.947,5.122,0.001,7.07C21.408,12.479,22.664,13,24,13
                            c1.335,0,2.591-0.52,3.535-1.465l1.347-1.347C28.328,12.93,25.901,15,23,15z"/>
                            <circle cx="4.5" cy="27.5" r="1"/>
                        </svg>
                    </div>
                    <div ng-class="properties.rightToLeft ? 'col m11 s10 pull-s2 right-align':'col m11 s10 left-align'" ng-click="toggleAdvanced()">
                        <a ng-if="!showDetails">{{properties.showAdvanced}}</a>
                        <a ng-if="showDetails">{{properties.hideAdvanced}}</a>
                    </div>
                </div>
                <!-- All advanced options are below -->
                <div class="row">
                  <div class="search-details-form" data-my-slide="showDetails">
                    <div ng-class="properties.rightToLeft ? 'col m1 s2 push-s10 right':'col m1 s2 left'">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
                            <path d="M16,6C10.478,6,6,10.479,6,16c0,5.523,4.478,10,10,10c5.523,0,10-4.477,10-10C26,10.479,21.523,6,16,6z M18,18l-8,4l4-8
                            l8-4L18,18z"/>
                            <path d="M16,2C8.268,2,2,8.268,2,16s6.268,14,14,14s14-6.268,14-14S23.732,2,16,2z M16,28C9.383,28,4,22.617,4,16S9.383,4,16,4
                            s12,5.383,12,12S22.617,28,16,28z"/>
                            <circle cx="16" cy="16" r="1"/>
                        </svg>
                    </div>
                    <div ng-class="properties.rightToLeft ? 'col m11 s10 pull-s2':'col m11 s10'">
                        <input name="radius" type="text" ng-model="radius" id="radius" placeholder="{{properties.searchRadius}}">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="search-details-form" data-my-slide="showDetails">
                    <div ng-class="properties.rightToLeft ? 'col m1 s2 push-s10 right':'col m1 s2 left'">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
                        <path d="M16,2C8.268,2,2,8.268,2,16s6.268,14,14,14c7.732,0,14-6.268,14-14S23.732,2,16,2z M16,28C9.383,28,4,22.617,4,16
                        S9.383,4,16,4c6.617,0,12,5.383,12,12S22.617,28,16,28z"/>
                        <polygon points="22.646,8.646 16.353,14.939 12.707,11.293 11.293,12.707 14.939,16.354 13.646,17.646 14.353,18.354 15.646,17.06 
                        17.293,18.707 18.707,17.293 17.06,15.646 23.353,9.354   "/>
                        </svg>
                    </div>
                    <div ng-class="properties.rightToLeft ? 'col m11 s10 pull-s2':'col m11 s10'">
                        <input id="when" type="text" ng-model="when" name="date" class="datepicker" placeholder="{{properties.when}}">
                    </div>          
                  </div>
                </div>
                <div class="ibm-submit-area" ng-class="properties.rightToLeft ? 'arabic-rotate-icon':'latin'">
                  <div class="row">
                    <div class="col m12 s12">
                        <button type="submit" class="btn waves-effect waves-light">
                        {{properties.search}}
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
                            <path d="M12,1C5.926,1,1,5.926,1,12c0,6.074,4.926,11,11,11s11-4.926,11-11C23,5.926,18.074,1,12,1z M12,21c-4.962,0-9-4.038-9-9
                            s4.038-9,9-9s9,4.038,9,9S16.962,21,12,21z"/>
                            <rect x="23.879" y="21.05" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -10.7696 26)" width="4.243" height="9.899"/>
                            <circle cx="21" cy="21" r="1"/>
                        </svg>
                        </button>
                    </div>
                    <br><br>
                    <div class="col m12 s12">
                        <!-- Swap offerType - if they searched for an offering, they need to create a help request -->
                        <a href="offerings/create?offerType=offer&offeringId=0" ng-if="offerType=='request'">{{properties.offerOthersHelpText}}</a>
                        <a href="offerings/create?offerType=request&offeringId=0" ng-if="offerType=='offer'">{{properties.tellOthersNeedsText}}</a>
                    </div>
                    <!-- TODO should be a pop-up and it can be closed -->
                    <div class="col m12 s12" ng-show="error">
                        <strong ng-bind="error"></strong>
                    </div>
                  </div> <!-- end of row -->
                </div> <!-- end of ibm-submit-area -->
                <!-- Display current search progress -->
                <div class="offering-search-status" ng-class="properties.rightToLeft ? 'arabic':'latin'">
                  <div class="col m12 s12" ng-show="searchStatus">
                    <strong ng-bind="searchStatus"></strong>
                  </div>
                </div>
            </div> <!-- end of input-field ibm-input-field -->
          </div> <!-- end of grid col m6 s11 -->
        </div> <!-- end of middle section without category -->
    </form>       
    <br>  
    <!-- show search results -->
    <div class="row">
      <div class="col m12 s12" ng-class="properties.rightToLeft ? 'right-align':'left-align'">
        <ul>
          <li ng-repeat="offering in offerings" class="list-group-item">
            <div class="row">
              <h5 class="list-group-item-heading" ng-bind="offering.description"></h5>
              <p class="list-group-item-text">{{properties.categories}}: <span ng-bind="offering.category"></span></p>
              <p class="list-group-item-text">{{properties.location}}: <span ng-bind="offering.city"></span></p>
              <p class="list-group-item-text">{{properties.distance}}: <span ng-bind="offering.distance"></span> {{properties.kilometres}}</p>
    
              <small class="list-group-item-text">
                {{properties.offeredBy}}
                <span ng-bind="offering.displayName"></span>
                {{properties.availableOn}}
                <span ng-bind="offering.when | date:'mediumDate'"></span>
                <br>{{properties.expiresOn}}
                <span ng-bind="offering.expiry | date:'mediumDate'"></span>
              </small>
            </div>
            <!-- ibm-submit-area to interact with results, provides appropriate buttons depending on authentication -->
            <div class="ibm-submit-area" ng-class="properties.rightToLeft ? 'arabic':'latin'">
              <div class="row">
                <div class="col m12 s12" ng-if="authentication.user._id == offering.user._id">
                    <a class="offering-submit-button btn waves-effect waves-light" ng-class="properties.rightToLeft ? 'arabic2-rotate-icon':'latin'" ui-sref="offerings.edit({offerType: offering.offerType, offeringId: offering._id})">
                      {{properties.editButton}}
                      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
                      <rect x="24.379" y="1.257" transform="matrix(0.7071 -0.7071 0.7071 0.7071 3.8726 20.3492)" width="4.243" height="8.485"/>
                      <path d="M5,21l6,6l15-15l-6-6L5,21z M11,24.171L7.828,21L20,8.829L23.172,12L11,24.171z"/>
                      <polygon points="1,31 6,29 3,26   "/>
                      </svg>
                    </a>
                </div>
                <div class="col m12 s12" ng-if="authentication.user._id != offering.user._id">
                    <a class="offering-submit-button btn waves-effect waves-light" ui-sref="postings.createFromOffer({offeringId: offering._id, offeringDescription: offering.description, recipientName: offering.user.displayName, recipientId: offering.user._id})">
                      {{properties.contact}}
                      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
                      <path d="M16,4L1,12v1v15h30V13v-1L16,4z M7,11h18v4.2L16,20l-9-4.8V11z M29,26H3V14.066L16,21l13-6.934V26z"/>
                      </svg>
                    </a>
                </div>
                <br><br><br>
              </div> <!-- end of row -->
            </div> <!-- end of ibm-submit-area -->
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</section>
