<div class="card-content">
    <div class="row">
      <div class="col m12 s12" ng-class="properties.rightToLeft ? 'left-align':'right-align'">
        <div ng-if="authentication.user && (authentication.user._id == offering.user._id)" 
            ng-really-message="{{properties.confirmDeleteMessage}}" ng-really-click="removeOfferingFromList(offering);">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
            <rect x="12" y="2" width="8" height="2"/>
            <path d="M6,5v5h1v20h18V10h1V5H6z M23,28H9V12h14V28z"/>
            <rect x="11" y="14" width="1" height="12"/>
            <rect x="14" y="14" width="1" height="12"/>
            <rect x="17" y="14" width="1" height="12"/>
            <rect x="20" y="14" width="1" height="12"/>
            </svg>
        </div>
      </div>        
      <div ng-class="properties.rightToLeft ? 'col m1 s2 push-s10 right':'col m1 s2 left'">
          <svg ng-if="offering.offerType=='request'" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
        <path d="M16,2C8.269,2,2,8.269,2,16s6.269,14,14,14s14-6.269,14-14S23.731,2,16,2z M23,16c0,0.893-0.174,1.743-0.479,2.528
            c-0.711,1.829-2.164,3.281-3.992,3.992C17.744,22.826,16.893,23,16,23c-0.893,0-1.744-0.174-2.529-0.479
            c-1.828-0.711-3.281-2.164-3.992-3.992C9.174,17.743,9,16.893,9,16c0-0.893,0.174-1.743,0.479-2.527
            c0.711-1.829,2.165-3.283,3.992-3.994C14.257,9.174,15.107,9,16,9c0.893,0,1.743,0.174,2.529,0.479
            c1.827,0.71,3.281,2.165,3.992,3.994C22.826,14.257,23,15.107,23,16z M19.286,8.714C18.282,8.259,17.172,8,16,8
            s-2.282,0.259-3.286,0.714L9.766,5.766C11.586,4.653,13.715,4,16,4s4.414,0.653,6.234,1.766L19.286,8.714z M8.714,19.286
            l-2.948,2.948C4.653,20.415,4,18.285,4,16s0.653-4.415,1.766-6.234l2.948,2.948C8.26,13.718,8,14.828,8,16S8.26,18.282,8.714,19.286
            z M12.714,23.286C13.718,23.741,14.828,24,16,24s2.282-0.259,3.286-0.714l2.948,2.948C20.414,27.347,18.285,28,16,28
            s-4.414-0.653-6.234-1.766L12.714,23.286z M23.286,12.714l2.948-2.948C27.347,11.585,28,13.715,28,16s-0.653,4.415-1.766,6.234
            l-2.948-2.948C23.74,18.282,24,17.172,24,16S23.74,13.718,23.286,12.714z"/>
        </svg>
        <svg ng-if="offering.offerType=='offer'" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
            <polygon points="19,5 17,6 21,12 17,12 4,12 4,15 17,15 17,16 1,16 1,19 17,19 17,20 4,20 4,23 17,23 17,24 7,24 7,27 17,27 23,27 
              31,25 31,12     "/>
        </svg>
      </div>
      <div ng-class="properties.rightToLeft ? 'col m11 s10 pull-s2':'col m11 s10'">
          <a ng-href="{{offering.descriptionLink}}" target="_blank"><span ng-if="offering.description.indexOf('http') > -1 || offering.description.indexOf('http') > -1" class="card-title" >{{offering.descriptionTitle}}</span></a>
          <span ng-if="offering.description.indexOf('http') == -1 && offering.description.indexOf('https') == -1 " class="card-title">{{offering.description}}</span>
      </div>
    </div> 
    <p><div class="chip waves-effect waves-light" ng-bind="offering.category"></div></p>
    <p>{{properties.location}}: <span ng-bind="offering.city"></span></p>
    <p ng-if="offering.distance">{{properties.distance}}: <span ng-bind="offering.distance"></span> {{properties.kilometres}}</p>
    <p>
      {{properties.offeredBy}}
      <span>
      <a ng-if="!authentication.user || (authentication.user._id != offering.user._id)"  class="waves-effect waves-light modal-trigger" ng-click="profileModalDetails(offering.user)" href="#volunteerProfile" ng-bind="offering.user.displayName"></a>
      <a ng-if="authentication.user && (authentication.user._id == offering.user._id)" class="waves-effect waves-light modal-trigger" ng-click="profileModalDetails(offering.user)" href="#volunteerProfile">{{properties.me}}</a>
      </span>
    </p>
    <small>
      {{properties.availableOn}}
      <span ng-bind="offering.when | date:'mediumDate'"></span>
      <br>{{properties.lastUpdatedOn}}
      <span ng-bind="offering.updated | date:'mediumDate'"></span>
      <br>{{properties.expiresOn}}
      <span ng-bind="offering.expiry | date:'mediumDate'"></span>
    </small> 
<!-- display profile  -->
<div class="ibm-modal">
  <div id="volunteerProfile" class="modal">
    <div class="modal-content">
      <div class="row">
        <div class="col s12">
          <a href="#!" class="modal-action modal-close waves-effect" ng-class="properties.rightToLeft ? 'left':'right'">
            <svg class="cancel" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
                <polygon points="20.293,10.293 16,14.586 11.707,10.293 10.293,11.707 14.586,16 10.293,20.293 11.707,21.707 16,17.414 
                    20.293,21.707 21.707,20.293 17.414,16 21.707,11.707     "/>
                <path d="M16,2C8.269,2,2,8.269,2,16s6.269,14,14,14s14-6.269,14-14S23.731,2,16,2z M16,28C9.383,28,4,22.617,4,16S9.383,4,16,4
                    s12,5.383,12,12S22.617,28,16,28z"/>
            </svg>
          </a>
        </div>
        <!-- start from display the profile content -->
        <div ng-include src="'/modules/users/client/views/profile/profile.client.view.html'"></div>
        <!-- end of display the profile content -->
      </div>
    </div>
  </div>
</div>     <!-- end of ibm-modal -->        
</div>
