<section ng-controller="OfferingsController" ng-init="findOne()">
  <div class="page-header">
    <h1 ng-bind="offering.description"></h1>
  </div>
  <div class="pull-right" ng-show="authentication.user._id == offering.user._id">
    <a class="waves-effect waves-light btn" ui-sref="offerings.edit({offeringId: offering._id})">
      <i class="material-icons right ">mode_edit</i> Edit </a>
    <a class="btn waves-effect waves-light red darken-1" ng-click="remove();">
      <i class="material-icons right ">delete</i> Delete
    </a>
  </div>
  <div class="pull-right" ng-show="authentication.user._id != offering.user._id">
    <a class="waves-effect waves-light btn" ui-sref="postings.createFromOffer({offeringId: offering._id, offeringDescription: offering.description, recipientName: offering.user.displayName, recipientId: offering.user._id})">
      <i class="material-icons right ">email</i> Contact
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="offering.when | date:'mediumDate'"></span>
      by
      <span ng-bind="offering.user.displayName"></span>
      <br>
      <!-- Comment out until we can get proper conversion of internal server offering
        format into 'public' format, which includes converting 'offerType' into
        a user-readable string.
      <span ng-bind="offering.offerType"></span>
      -->
      expires on
      <span ng-bind="offering.expiry | date:'mediumDate'"></span>
    </em>
  </small>
  <p class="lead" ng-bind="offering.category"></p>
  <p class="lead" ng-bind="offering.city"></p>
  <p class="lead">numOffered: <span ng-bind="offering.numOffered"></span></p>
</section>
