<section ng-controller="OfferingsController" ng-init="findOne()">
  <div class="page-header">
    <h1 ng-bind="offering.description"></h1>
  </div>
  <div class="pull-right" ng-show="authentication.user._id == offering.user._id">
    <a class="waves-effect waves-light btn" ui-sref="offerings.edit({offeringId: offering._id})">
      <i class="material-icons right ">mode_edit</i> Edit </a>
    <a class="btn waves-effect waves-light red darken-1" ng-click="remove();">
      <i class="material-icons right ">delete</i> Delete
    </a>
  </div>
  <div class="pull-right" ng-show="authentication.user._id != offering.user._id">
    <!-- 
    <a class="waves-effect waves-light btn" ui-sref="postings.createFromOffer({offeringId: offering._id})">
      <i class="material-icons right ">email</i> Contact
    </a>
    -->
    <a href="" ng-click="askAboutOffering(offering)" class="modal-trigger modal-action waves-effect waves-green btn">
      <i class="material-icons right ">email</i> Contact
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="offering.when | date:'mediumDate'"></span>
      by
      <span ng-bind="offering.user.displayName"></span>
    </em>
  </small>
  <p class="lead" ng-bind="offering.category"></p>
  <p class="lead" ng-bind="offering.city"></p>
  <p class="lead" ng-bind="offering.offerType"></p>

  <div id="modalAskAboutOffering" class="modal">
    <div class="modal-content">
      <form name="postingForm" class="my-form" novalidate>
        <div class="row">
          <p>Contact {{offering.user.displayName}}</p>
          <input id="titleid" name="title" ng-model="title">
          <textarea name="content" type="text" ng-model="content" id="content" class="form-control" placeholder="Content" cols="30" rows="10" required>Hier</textarea>
          <hr>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <a href="#!" ng-click="createMail(postingForm, offering)" class="modal-action modal-close waves-effect waves-green btn-flat">Send</a>
      <a href="#!" class="modal-action modal-close waves-effect waves-blue btn-flat">Cancel</a>
    </div>
  </div>
</section>
