<section ng-controller="OfferingsPublicController" ng-init="findOne()">
  <div class="page-header">
    <h1 ng-bind="offering.description"></h1>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="offering.when | date:'mediumDate'"></span>
      by
      <span ng-bind="offering.user.displayName"></span>
    </em>
  </small>
  <p class="lead" ng-bind="offering.category"></p>
  <p class="lead" ng-bind="offering.city"></p>
  <p class="lead" ng-bind="offering.offerType"></p>
</section>
