@import "../../../../public/lib/IBM-Design-Colors/ibm-colors";

@media screen and (max-width:500px) {
    .ibm-profile-navigator{
        margin-top: 56px;
        /* according to materialize.css, every "a" takes up 64 px, so we pick 256px for 4 items */
        height: 256px;
        overflow-y: hidden;
        width: 220px;
    }
}

@media screen and (min-width:992px) {
    .ibm-profile-navigator{
    /* the offset of margin-top the same as .ibm-dropdown-component defined in core-ibm-design.scss */
        margin-top: 64px;
    }
}
.ibm-profile-navigator.arabic{
    li a{
    text-align: right;
    }
}    

.ibm-submit-area{
    button.button-group {
        margin-right: 1%;
    }
}

.ibm-submit-area.arabic{
     button.no-float{
     /* for profile picture page, we don't float to right for now, design of this page to be determined*/
        float:none;
    }
}

/* override ng-tags-input.css in Arabic like languages */
.ibm-tags-input.arabic{
    tags-input .tags .tag-item, tags-input .tags .input {
        float: right;
    }

    tags-input .autocomplete, tags-input .autocomplete .suggestion-list  {
        direction: rtl;   
    }
}

.social-account-container {
  display: inline-block;
  a {
    padding: 0;
    margin: 0 auto;
    background: color('gray', 10);
  }
  i {
    display: none;
  }
  h6{
    display: none;
  }
}
.social-account-container:hover{
  a, img{
    transition-delay: width 1s, height 1s;
    margin: 0 auto;
    background: color('gray', 10);
  }
  i{
    display: block;
    color: color('white', core);
    position: relative;
    z-index: 2;
  }
  h6{
    display: block;
    color: color('white', core);
    z-index: 2;
    font-size: 16px;
    position: relative;
  }
  h6.dark{
    color: color('gray', 90);
  }
}



@media screen and (min-width:1200px) {
    .social-account-container {
        a, img{
            width: 128px;
            height: 128px;
     }
    }
    .social-account-container:hover{
        a, img{
            width: 150px;
            height: 150px;
        }
        
        i, h6{
            transform: translate(10px, -140px);
        }
        
        
    }
}

@media screen and (max-width:1200px) {
    .social-account-container {
        a, img{
            width: 64px;
            height: 64px;
        }
     }
    .social-account-container:hover{
        a, img{
            width: 75px;
            height: 75px;
        }
        
        i, h6{
        transform: translate(5px, -70px);
        }
    }
}

.btn-remove-account {
  top: 10px;
  right: 10px;
  position: absolute;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: white;
  cursor: inherit;
  display: block;
}
.user-profile-picture {
  min-height: 150px;
  max-height: 150px;
}
