@import "../../../../public/lib/IBM-Design-Colors/ibm-colors";

.ibm-match-user {
    font-weight: bold;
}

.ibm-match-help {
  font-size: 12px;
  font-style: italic;
  svg{
    fill: color('gray',50);
  }
 }

//information
.ibm-match-help:hover svg{
      transition: fill 1s;
      fill: color('blue',40);  
}