@import "../../../../public/lib/IBM-Design-Colors/ibm-colors";

/** CSS styles shared by all modules 
* @notice if you need to change the existing css styles in this file, you have to talk to the GUI team for all modules :D
*
**/

/** make IBM design icons more aligned to the input field*/
.ibm-input-field svg{
        margin-top: 50%;
}

/** hover over IBM design icons to make it look materialize css style */
.ibm-input-field :hover svg{
       transition: fill 1s;
       fill:color('teal', core);
}

/* override input field right-align CSS style so people can edit from right to left in Arabic languages*/
.ibm-input-field input.right-align{
        direction: rtl;
}

/* button */
.ibm-button{
        background: color('teal', core);
        font-family:"HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; font-weight:300; font-stretch:normal;
        font-size: 16px;
        text-transform: capitalize;
        
        /* override materialize style, use IBM design icons in a button */
        svg{
            margin-top: 1px; 
            height: 24px;
            width: 24px;
            margin-left: 5px;
            vertical-align: middle;
            fill: color('white', core);
        }
}

/* inherit ibm-button and override materialize style - the color changes when the div is hovered, make the color unchanged */
.ibm-submit-area{
   button{
    @extend .ibm-button;
   }
   
   :hover button svg{
    fill: color('white', core);
   }
   strong{
    color: color('red', 50);
   }
}
 
/* submit-area with button and error message in Latin languages - from left to right*/ 
.ibm-submit-area.latin{
    button, a, strong{
        float:left;
    }
}

/* submit-area with button and error message in Arabic languages - from right to left */ 
.ibm-submit-area.arabic{
    button, a, strong{
        float:right;
    }
    button svg{
        margin-top: 5px;
        margin-right: 5px;
        float:left;
        transform: rotate(90deg);
    }
}

/** Override placeholder colors for different browsers using IBM design color*/
::-webkit-input-placeholder {
  font-family:"HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; font-weight:300; font-stretch:normal;
  color: color('gray', 50); 
}

:-moz-placeholder {
  font-family:"HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; font-weight:300; font-stretch:normal;
  /* Firefox 18- */
  color: color('gray', 50); 
}

::-moz-placeholder {
  font-family:"HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; font-weight:300; font-stretch:normal;
  /* Firefox 19+ */
  color: color('gray', 50); 
}

:-ms-input-placeholder {
  font-family:"HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; font-weight:300; font-stretch:normal;
  color: color('gray', 50); 
}

/** Define font of all text */
.a .h1 .h2 .h3 .h4 .h5 .h6 {
 font-family:"HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; font-weight:300; font-stretch:normal;       
} 
