<section ng-controller="PostingsController" ng-init="findOne()">
  <div class="page-header">
    <h1 ng-bind="posting.title"></h1>
  </div>
  <div class="pull-right" ng-show="authentication.user._id == posting.sender._id">
    <a class="btn btn-primary" ui-sref="postings.edit({postingId: posting._id})">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="posting.created | date:'mediumDate'"></span>
      by
      <span ng-bind="posting.sender.displayName"></span>
    </em>
  </small>
  <p class="lead" ng-bind="posting.content"></p>
  <p class="lead" ng-bind="posting.replyTo"></p>
  <p class="lead" ng-bind="posting.offeringId"></p>
</section>
