<section ng-controller="MatchesController" ng-init="initializeMatches()">
<div class="row">
<!-- s11 looks a bit nicer on a smaller screen so it won't display all the way to the edge -->
  <div class="col m12 s11">
    <br>
    <div class="row">
      <div ng-class="properties.rightToLeft ? 'right-align col m12 s11 right':'col m12 s11'">
      <h4 >{{properties.myMatches}}</h4>
      </div>

      <div ng-class="properties.rightToLeft ? 'right-align col m12 s11 right':'col m12 offset-s1 s11'">
        <ul>
          <li ng-repeat="match in matches" class="list-group-item">
            <div class="ibm-offering-list card">
              <div class="card-content">
                <div class="row">
                  <!-- Display the next match -->
                  <div ng-include src="'/modules/matches/client/views/single-match.client.view.html'"></div>
                  <!-- End display the next match -->
                </div>
              </div>

              <!-- Start display profile of the requester or owner -->
              <div id="userProfile" class="modal">
                <div class="modal-content">
                  <div class="row">
                    <div class="col s12">
                      <a href="#!" class="modal-action modal-close waves-effect" ng-class="properties.rightToLeft ? 'left':'right'">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
                            <polygon points="20.293,10.293 16,14.586 11.707,10.293 10.293,11.707 14.586,16 10.293,20.293 11.707,21.707 16,17.414 
                                20.293,21.707 21.707,20.293 17.414,16 21.707,11.707     "/>
                            <path d="M16,2C8.269,2,2,8.269,2,16s6.269,14,14,14s14-6.269,14-14S23.731,2,16,2z M16,28C9.383,28,4,22.617,4,16S9.383,4,16,4
                                s12,5.383,12,12S22.617,28,16,28z"/>
                        </svg>
                      </a>
                    </div>
                    <!-- Display the active profile -->  
                    <div ng-include src="'/modules/users/client/views/profile/profile.client.view.html'"></div>
                    <!-- end of display profile content -->
                    </div>
                </div>
              </div>
              <!-- End display profile of the requester or owner -->

            </div> <!-- end of card-content -->
          </li>
        </ul>
      </div>
      
      <div class="col m6 s11" ng-class="properties.rightToLeft ? 'right':'left'">
        <div class="alert alert-warning text-center" ng-if="matches.$resolved && !matches.length">
          <a href="offerings/search?offerType=offer">{{properties.noMatches}}</a>
        </div>
      </div>
    </div>
  </div>
</div>

</section>
