<section ng-controller="MatchesController" ng-init="findAllMine()">
<div class="row">
<!-- s11 looks a bit nicer on a smaller screen so it won't display all the way to the edge -->
  <div class="col m12 s11">
    <br>
    <div class="row">
      <div ng-class="properties.rightToLeft ? 'right-align col m12 s11 right':'col m12 s11'">
      <h4 >{{properties.myMatches}}</h4>
      </div>
      <div ng-class="properties.rightToLeft ? 'right-align col m12 s11 right':'col m12 offset-s1 s11'">
        <ul>
          <li ng-repeat="match in matches" class="list-group-item">
            <div class="ibm-offering-list card">
            <!-- display profile of the requester or owner if it's not you -->
              <div id="theOtherProfile-{{ $index }}" class="modal">
                  <div class="modal-content">
                  <div class="row">
                  <div class="col s12">
                  <a href="#!" class="modal-action modal-close waves-effect" ng-class="properties.rightToLeft ? 'left':'right'">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
                        <polygon points="20.293,10.293 16,14.586 11.707,10.293 10.293,11.707 14.586,16 10.293,20.293 11.707,21.707 16,17.414 
                            20.293,21.707 21.707,20.293 17.414,16 21.707,11.707     "/>
                        <path d="M16,2C8.269,2,2,8.269,2,16s6.269,14,14,14s14-6.269,14-14S23.731,2,16,2z M16,28C9.383,28,4,22.617,4,16S9.383,4,16,4
                            s12,5.383,12,12S22.617,28,16,28z"/>
                    </svg>
                  </a>
                  </div>
                  <!-- TODO moving the code - start from display profile content -->
                  <div class="col s12 ibm-profile" >
                    <div class="row">
                        <div class="col m4 s12">
                            <img ng-src="{{activeProfile.profileImageURL}}"/>
                            <br><br>
                        </div>
                        <div class="col m8 s12">
                          <div class="row">
                            <div class="col m12 s12">
                              <h4 ng-bind="activeProfile.displayName"></h4>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col m2 s3">
                            <h6>About Me</h6>
                          </div>
                          <div class="col m10 s9">
                            <span>{{activeProfile.aboutMe}}</span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col m2 s3">
                            <h6>Languages</h6>
                          </div>
                          <div class="col m10 s9">
                            <span class="chip" ng-repeat="language in activeProfile.tagsLanguages">{{language.tagName}}</span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col m2 s3">
                            <h6>Skills</h6>
                          </div>
                          <div class="col m10 s9">
                            <span class="chip" ng-repeat="skill in activeProfile.tagsSkills">{{skill.tagName}}</span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col m2 s3">
                            <h6>Interests</h6>
                          </div>
                          <div class="col m10 s9">
                            <span class="chip" ng-repeat="interest in activeProfile.tagsInterests">{{interest.tagName}}</span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col m2 s3">
                            <i class="fa fa-linkedin-square fa-2x"></i>
                          </div>
                          <div class="col m10 s9">
                            <a ng-href="{{activeProfile.publicLinkedInProfile}}" target="_blank">{{activeProfile.publicLinkedInProfile}}</a>
                          </div>
                        </div>
                      </div> 
                    </div><!-- end of the row - profile picture on the left and profile on the right -->
                  </div><!-- end of ibm-profile -->
                  <!-- end of display profile content -->
                  </div>
                  </div>
                </div>
            <div class="card-content">
              <div class="row">
                <div ng-class="properties.rightToLeft ? 'col m1 s2 push-s10 right':'col m1 s2 left'">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
                        <polygon points="15,13 13,13 14,9 12,9 11,13 11,17 15,17    "/>
                        <polygon points="21,13 19,13 20,9 18,9 17,13 17,17 21,17    "/>
                        <path d="M3,3v19v1l6,6h1h19V3H3z M27,27H10v-5H5V5h22V27z"/>
                    </svg>
                </div>
                <div ng-class="properties.rightToLeft ? 'col m11 s10 pull-s2':'col m11 s10'">
                    <a href="/offerings/view?offerType=offer&offeringId={{match.offeringId}}">
                    <h5>{{match.offering.description}}</h5>
                    </a>
                </div>
              </div>
                <!-- Display the last message from the owner and requester -->
                <div class="row">
                    <div ng-class="properties.rightToLeft ? 'right-align':'left-align'">
                      <div class="col s12 list-group-item-text">
                        <a class="waves-effect waves-light modal-trigger" ng-click="profileModalDetails($index, match.lastMessages[0].user)" href="#theOtherProfile-@(index)" ng-bind="match.lastMessages[0].viewName"></a>
                        : <span ng-bind="match.lastMessages[0].message"></span>
                        <span ng-class="properties.rightToLeft ? 'left':'right'" ng-bind="match.lastMessages[0].date | date:'yyyy.MM.dd'"></span>
                      </div>
                      <div class="col s12 list-group-item-text">
                        <a class="waves-effect waves-light modal-trigger" ng-click="profileModalDetails($index, match.lastMessages[1].user)" href="#theOtherProfile-@(index)" ng-bind="match.lastMessages[1].viewName"></a>
                        : <span ng-bind="match.lastMessages[1].message"></span>
                        <span ng-class="properties.rightToLeft ? 'left':'right'" ng-bind="match.lastMessages[1].date | date:'yyyy.MM.dd'"></span>
                      </div>
                    </div>
                </div> <!-- end of row -->
            </div> <!-- end of card-content -->
            <div class="card-action">
            <div class="ibm-submit-area" ng-class="properties.rightToLeft ? 'arabic':'latin'">
              <div class="row">
                <div class="col m12 s12">
                    <button class="match-submit-button btn btn-primary waves-effect waves-light" ui-sref="matches.edit({matchId: match._id})">
                      {{properties.view}}
                      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
                        <path d="M16,11c-3.314,0-6,2.685-6,6s2.686,6,6,6c3.315,0,6-2.685,6-6S19.315,11,16,11z M16,19c-1.106,0-2-0.895-2-2s0.894-2,2-2 s2,0.895,2,2S17.105,19,16,19z"/>
                        <path d="M16,8C9.269,8,4.147,11.625,1,17c3.147,5.375,8.269,9,15,9s11.854-3.625,15-9C27.854,11.625,22.73,8,16,8z M16,24 c-5.164,0-9.612-2.475-12.642-7c3.029-4.525,7.477-7,12.642-7s9.612,2.475,12.642,7C25.612,21.525,21.164,24,16,24z"/>
                      </svg>
                    </button>
                    <button type="submit" class="match-delete-button btn btn-danger waves-effect waves-light" ng-if="authentication.user._id == match.owner._id" ng-click="removeMatchFromList(match);">
                      {{properties.delete}}
                      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
                      <rect x="12" y="2" width="8" height="2"/>
                      <path d="M6,5v5h1v20h18V10h1V5H6z M23,28H9V12h14V28z"/>
                      <rect x="11" y="14" width="1" height="12"/>
                      <rect x="14" y="14" width="1" height="12"/>
                      <rect x="17" y="14" width="1" height="12"/>
                      <rect x="20" y="14" width="1" height="12"/>
                      </svg>
                    </button>
                    </div>
                  </div> <!-- end of row -->
                  </div> <!-- end of ibm-submit-area -->
                </div> <!-- end of card-action -->
              </div> <!-- end of card -->
          </li>
        </ul>
      </div>
      
      <div class="col m6 s11" ng-class="properties.rightToLeft ? 'right':'left'">
        <div class="alert alert-warning text-center" ng-if="matches.$resolved && !matches.length">
          <a href="offerings/search?offerType=offer">{{properties.noMatches}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
