<!-- End edit/reply mode for match - interact with match owner/requester, hidden by default -->          
<!-- Toggle reply mode -->
<div ng-if="!match.replyMode" ng-class="properties.rightToLeft ? 'right-align':'left-align'" ng-click="toggleReplyMode(match)">
      <span><a>{{properties.reply}}</a></span>
</div>
  
<!-- Start edit/reply mode for match - interact with match owner/requester, hidden by default -->
<div data-my-slide="match.replyMode">
    <!-- Display help/suggestions for the current match action-->
    <div class="row">
      <div class="ibm-match-help">
        <div ng-class="properties.rightToLeft ? 'col m1 s2 push-s10 right':'col m1 s2 left'">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
              <polygon points="18,14 12,14 12,16 14,16 14,22 12,22 12,24 20,24 20,22 18,22  "/>
              <circle cx="16" cy="10" r="2"/>
              <path d="M16,2C8.269,2,2,8.269,2,16s6.269,14,14,14s14-6.269,14-14S23.731,2,16,2z M16,28C9.383,28,4,22.617,4,16S9.383,4,16,4 s12,5.383,12,12S22.617,28,16,28z"/>
            </svg>
        </div>
        <div ng-class="properties.rightToLeft ? 'col m11 s10 pull-s2 right-align':'col m11 s10 left-align'" ng-click="toggleMoreHelp(match)">
            <h6>{{properties.clickForHelp}}</h6>
        </div>
      </div>
    </div>
    <!-- And extended help description, hidden by default -->
    <div class="ibm-match-help" data-my-slide="match.showMoreHelp">
        <div class="row">
            <div ng-class="properties.rightToLeft ? 'col m11 s10 pull-s2 right-align':'col m11 s10 left-align'">
                <span ng-if="amIOwner(match)">{{properties.helpForOwner}}{{properties.helpCommon}}</span>
                <span ng-if="!amIOwner(match)">{{properties.helpForRequester}}{{properties.helpCommon}}</span>
            </div>
        </div>
    </div>
    <!-- End display help/suggestions for the current match action -->

    <!-- Start input field section, for new message and buttons to send to other match participant -->
    <div class="row">
        <div class="col m12 s11">
          <div class="ibm-input-field" ng-class="properties.rightToLeft ? 'arabic':'latin'">
              <!-- Begin icon and text input field for new message to send -->
              <div class="row">
                  <div ng-class="properties.rightToLeft ? 'col m1 s2 push-s10 right':'col m1 s2'">
                      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                          width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
                          <path d="M24.484,4.515C22.313,2.343,19.313,1,16,1S9.686,2.343,7.516,4.515C5.344,6.687,4,9.686,4,13s1.344,6.313,3.516,8.485
                              C9.686,23.657,12.686,25,16,25v6l8.484-9.016C26.656,19.685,28,16.508,28,13C28,9.686,26.656,6.687,24.484,4.515z M23.027,20.613
                              L18,25.956V25v-2h-2c-2.671,0-5.182-1.04-7.07-2.93C7.041,18.182,6,15.671,6,13s1.041-5.182,2.93-7.071S13.329,3,16,3
                              s5.182,1.04,7.07,2.93C24.959,7.818,26,10.329,26,13C26,15.881,24.945,18.583,23.027,20.613z"/>
                          <circle cx="16" cy="13" r="1.5"/>
                          <circle cx="21" cy="13" r="1.5"/>
                          <circle cx="11" cy="13" r="1.5"/>
                      </svg>
                  </div>
                  <div ng-class="properties.rightToLeft ? 'col m11 s10 pull-s2':'col m11 s10'">
                      <textarea rows="1" cols="8" ng-model="match.newMessage" placeholder="{{properties.message}}"></textarea>
                  </div>
              </div>
              <!-- End icon and text input field for new message to send -->
              <!-- Submit buttons to update server match state and send mail -->
              <div class="ibm-submit-area" ng-class="properties.rightToLeft ? 'arabic':'latin'">
                <button ng-if="match.showContactButton" class="setting-button btn waves-effect waves-light" ng-click="contact(match)">
                  {{properties.send}}
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
                        <path d="M24.484,4.515C22.313,2.343,19.313,1,16,1S9.686,2.343,7.516,4.515C5.344,6.687,4,9.686,4,13s1.344,6.313,3.516,8.485
                            C9.686,23.657,12.686,25,16,25v6l8.484-9.016C26.656,19.685,28,16.508,28,13C28,9.686,26.656,6.687,24.484,4.515z M23.027,20.613
                            L18,25.956V25v-2h-2c-2.671,0-5.182-1.04-7.07-2.93C7.041,18.182,6,15.671,6,13s1.041-5.182,2.93-7.071S13.329,3,16,3
                            s5.182,1.04,7.07,2.93C24.959,7.818,26,10.329,26,13C26,15.881,24.945,18.583,23.027,20.613z"/>
                        <circle cx="16" cy="13" r="1.5"/>
                        <circle cx="21" cy="13" r="1.5"/>
                        <circle cx="11" cy="13" r="1.5"/>
                    </svg>
                </button>
                <button ng-if="match.showAcceptButton" class="setting-button btn waves-effect waves-light" ng-click="acceptMatch(match)">
                  {{properties.accept}}
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
                    <polygon points="14,18.586 10.707,15.293 9.293,16.707 14,21.414 22.707,12.707 21.293,11.293   "/>
                    <path d="M16,2C8.269,2,2,8.269,2,16s6.269,14,14,14s14-6.269,14-14S23.731,2,16,2z M16,28C9.383,28,4,22.617,4,16S9.383,4,16,4 s12,5.383,12,12S22.617,28,16,28z"/>
                  </svg>
                </button>
              </div>
              <!-- End submit buttons to update server match state and send mail -->

              <!-- TODO should be a pop-up and it can be closed -->
              <div class="col m12 s11" ng-show="match.error.message">
                  <strong ng-bind="match.error.message"></strong>
              </div>
          </div> <!-- end of input-field ibm-input-field -->
        </div> <!-- end of grid col m12 s11 -->
    </div>
    <!-- End input field section, for new message and buttons to send to other match participant -->
</div>
