<!-- Display a single match -->

<div class="col s12" >
  <!-- Display which offering this match is associated with -->
  <div class="row">
    <div class="col m12 s12" ng-class="properties.rightToLeft ? 'left-align':'right-align'">
      <div ng-really-message="{{properties.confirmDeleteMessage}}" ng-really-click="deleteMatch(match);">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
          <rect x="12" y="2" width="8" height="2"/>
          <path d="M6,5v5h1v20h18V10h1V5H6z M23,28H9V12h14V28z"/>
          <rect x="11" y="14" width="1" height="12"/>
          <rect x="14" y="14" width="1" height="12"/>
          <rect x="17" y="14" width="1" height="12"/>
          <rect x="20" y="14" width="1" height="12"/>
          </svg>
      </div>
    </div>
    <div ng-class="properties.rightToLeft ? 'col m1 s2 push-s10 right':'col m1 s2 left'">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
            <polygon points="15,13 13,13 14,9 12,9 11,13 11,17 15,17    "/>
            <polygon points="21,13 19,13 20,9 18,9 17,13 17,17 21,17    "/>
            <path d="M3,3v19v1l6,6h1h19V3H3z M27,27H10v-5H5V5h22V27z"/>
        </svg>
    </div>
    <div ng-class="properties.rightToLeft ? 'col m11 s10 pull-s2':'col m11 s10'">
        <a href="/offerings/view?offerType=offer&offeringId={{match.offeringId}}">
          <h5>{{match.offering.description}}</h5>
        </a>
    </div>
  </div>
  <!-- End display which offering this match is associated with -->

  <!-- Display the last message from the owner and requester -->
  <div class="row">
      <div ng-class="properties.rightToLeft ? 'right-align':'left-align'">
        <div class="col s12 list-group-item-text" ng-if="match.lastMessages[0].message">
          <a class="ibm-match-user waves-effect waves-light modal-trigger" ng-click="profileModalDetails(match.lastMessages[0].user)" href="#userProfile" ng-bind="match.lastMessages[0].viewName"></a>
          : <span ng-bind="match.lastMessages[0].message"></span>
          <span ng-class="properties.rightToLeft ? 'left':'right'" ng-bind="match.lastMessages[0].date | date:'yyyy.MM.dd'"></span>
        </div>
        <div class="col s12 list-group-item-text" ng-if="match.lastMessages[1].message">
          <a class="ibm-match-user waves-effect waves-light modal-trigger" ng-click="profileModalDetails(match.lastMessages[1].user)" href="#userProfile" ng-bind="match.lastMessages[1].viewName"></a>
          : <span ng-bind="match.lastMessages[1].message"></span>
          <span ng-class="properties.rightToLeft ? 'left':'right'" ng-bind="match.lastMessages[1].date | date:'yyyy.MM.dd'"></span>
        </div>
      </div>
  </div> <!-- End display of last message from the owner and requester -->
</div><!-- end of current match contents -->

