<section class="row" ng-controller="ChangePasswordController">
<br>
  <div class="col s12">
    <form name="passwordForm" ng-submit="changeUserPassword(passwordForm.$valid)" class="signin" novalidate autocomplete="off">
      <div class="ibm-input-field" ng-class="properties.rightToLeft ? 'arabic':'latin'">
        <div class="row input-field form-group" show-errors>
           <div ng-class="properties.rightToLeft ? 'col m1 s2 push-s10 right':'col m1 s2 left'">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
                    <path d="M25,1L12.611,13.388C11.785,13.138,10.908,13,10,13c-4.971,0-9,4.029-9,9s4.029,9,9,9s9-4.029,9-9
                    c0-0.909-0.138-1.785-0.389-2.612L21,17v-2h2l8-8V1H25z M29,6.171L22.172,13H21h-2v2v1.171l-1.803,1.802l-0.848,0.848l0.348,1.147
                    C16.898,20.63,17,21.313,17,22c0,3.86-3.141,7-7,7s-7-3.14-7-7s3.141-7,7-7c0.686,0,1.37,0.102,2.031,0.302l1.146,0.348
                    l0.848-0.848L25.828,3H29V6.171z"/>
                    <circle cx="8" cy="24" r="2"/>
                    <rect x="19.757" y="7.5" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 46.6274 -3.3137)" width="8.485" height="1"/>
                </svg>
            </div>
            <div ng-class="properties.rightToLeft ? 'col m11 s10 pull-s2':'col m11 s10'">
                <input type="password" id="currentPassword" name="currentPassword" ng-model="passwordDetails.currentPassword" required>
                <label for="currentPassword">{{properties.currentPassword}}</label>
                <div ng-messages="passwordForm.currentPassword.$error" role="alert">
                <p class="col s12 m12 help-block error-text" ng-message="required">{{properties.currentPasswordRequired}}</p>
            </div>
          </div>
        </div>
        <div class="row input-field form-group" show-errors>
            <div ng-class="properties.rightToLeft ? 'col m1 s2 push-s10 right':'col m1 s2 left'">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
                    <path d="M25,1L12.611,13.388C11.785,13.138,10.908,13,10,13c-4.971,0-9,4.029-9,9s4.029,9,9,9s9-4.029,9-9
                    c0-0.909-0.138-1.785-0.389-2.612L21,17v-2h2l8-8V1H25z M29,6.171L22.172,13H21h-2v2v1.171l-1.803,1.802l-0.848,0.848l0.348,1.147
                    C16.898,20.63,17,21.313,17,22c0,3.86-3.141,7-7,7s-7-3.14-7-7s3.141-7,7-7c0.686,0,1.37,0.102,2.031,0.302l1.146,0.348
                    l0.848-0.848L25.828,3H29V6.171z"/>
                    <circle cx="8" cy="24" r="2"/>
                    <rect x="19.757" y="7.5" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 46.6274 -3.3137)" width="8.485" height="1"/>
                </svg>
            </div>
            <div ng-class="properties.rightToLeft ? 'col m11 s10 pull-s2':'col m11 s10'">
                <input type="password" id="newPassword" name="newPassword" ng-model="passwordDetails.newPassword"  popover="{{popoverMsg}}" popover-trigger="focus" password-validator required>
                <label for="newPassword">{{properties.newPassword}}</label>
                <div ng-messages="passwordForm.newPassword.$error" role="alert">
                <p class="col s12 m12 help-block error-text" ng-message="required">{{properties.enterPassword}}</p>
                <div ng-repeat="passwordError in passwordErrors">
                <p class="col s12 m12 help-block error-text" ng-show="passwordForm.newPassword.$error.requirements">{{passwordError}}</p>
                </div>
                </div>
           </div>
        </div>
        <div class="row input-field form-group" show-errors>
            <div ng-class="properties.rightToLeft ? 'col m1 s2 push-s10 right':'col m1 s2 left'">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
                    <path d="M25,1L12.611,13.388C11.785,13.138,10.908,13,10,13c-4.971,0-9,4.029-9,9s4.029,9,9,9s9-4.029,9-9
                    c0-0.909-0.138-1.785-0.389-2.612L21,17v-2h2l8-8V1H25z M29,6.171L22.172,13H21h-2v2v1.171l-1.803,1.802l-0.848,0.848l0.348,1.147
                    C16.898,20.63,17,21.313,17,22c0,3.86-3.141,7-7,7s-7-3.14-7-7s3.141-7,7-7c0.686,0,1.37,0.102,2.031,0.302l1.146,0.348
                    l0.848-0.848L25.828,3H29V6.171z"/>
                    <circle cx="8" cy="24" r="2"/>
                    <rect x="19.757" y="7.5" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 46.6274 -3.3137)" width="8.485" height="1"/>
                </svg>
            </div>
            <div ng-class="properties.rightToLeft ? 'col m11 s10 pull-s2':'col m11 s10'">
                <input type="password" id="verifyPassword" name="verifyPassword" ng-model="passwordDetails.verifyPassword" password-verify="passwordDetails.newPassword" required>
                <label for="verifyPassword">{{properties.verifyPassword}}</label>
                <div ng-messages="passwordForm.verifyPassword.$error" role="alert">
                <p class="col m12 s12 help-block error-text" ng-message="required">{{properties.verifyNewPassword}}</p>
                <p class="col m12 s12 help-block error-text" ng-show=passwordForm.verifyPassword.$error.passwordVerify>{{properties.passwordsNoMatch}}</p>
                </div>
            </div>
        </div>
        <!-- TODO do we really need this? -->
        <div class="input-field form-group" ng-show="!passwordForm.newPassword.$error.required">
          <label>{{properties.passwordRequirements}}</label>
          <progressbar value="requirementsProgress" type="{{requirementsColor}}"><span style="color:white; white-space:nowrap;">{{requirementsProgress}}%</span></progressbar>
        </div>
        <br>
        <div class="ibm-submit-area form-group" ng-class="properties.rightToLeft ? 'arabic':'latin'">
          <button type="submit" class="btn waves-effect waves-light">{{properties.savePassword}}
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
            <path d="M3,3v26h7h12h3l4-4V3H3z M27,24.171L24.172,27H22v-2H10v2H5V5h22V24.171z"/>
            <path d="M16,22c3.313,0,6-2.687,6-6s-2.687-6-6-6s-6,2.686-6,6S12.686,22,16,22z M16,14c1.104,0,2,0.896,2,2s-0.896,2-2,2
            s-2-0.896-2-2S14.896,14,16,14z"/>
            </svg>
          </button>
        </div>
        <div ng-show="success" class="text-center text-success">
          <strong>{{properties.passwordChangedSuccessfully}}</strong>
        </div>
        <div ng-show="error" class="text-center text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </div>
    </form>
  </div>
</section>
