<section class="row" ng-controller="ChangePasswordController">
<br>
  <div class="col s12">
    <form name="passwordForm" ng-submit="changeUserPassword(passwordForm.$valid)" class="signin" novalidate autocomplete="off">
      <div class="ibm-input-field" ng-class="properties.rightToLeft ? 'arabic':'latin'">
        <div class="row input-field form-group" show-errors>
           <div ng-class="properties.rightToLeft ? 'col m1 s2 push-s10 right':'col m1 s2 left'">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
                    <path d="M25,1L12.611,13.388C11.785,13.138,10.908,13,10,13c-4.971,0-9,4.029-9,9s4.029,9,9,9s9-4.029,9-9
                    c0-0.909-0.138-1.785-0.389-2.612L21,17v-2h2l8-8V1H25z M29,6.171L22.172,13H21h-2v2v1.171l-1.803,1.802l-0.848,0.848l0.348,1.147
                    C16.898,20.63,17,21.313,17,22c0,3.86-3.141,7-7,7s-7-3.14-7-7s3.141-7,7-7c0.686,0,1.37,0.102,2.031,0.302l1.146,0.348
                    l0.848-0.848L25.828,3H29V6.171z"/>
                    <circle cx="8" cy="24" r="2"/>
                    <rect x="19.757" y="7.5" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 46.6274 -3.3137)" width="8.485" height="1"/>
                </svg>
            </div>
            <div ng-class="properties.rightToLeft ? 'col m11 s10 pull-s2':'col m11 s10'">
                <input type="password" id="currentPassword" name="currentPassword" ng-model="passwordDetails.currentPassword" required>
                <label for="currentPassword">{{properties.currentPassword}}</label>
                <div ng-messages="passwordForm.currentPassword.$error" role="alert">
                <p class="col s12 m12 help-block error-text" ng-message="required">{{properties.currentPasswordRequired}}</p>
            </div>
          </div>
        </div>
        <div class="row input-field form-group" show-errors>
            <div ng-class="properties.rightToLeft ? 'col m1 s2 push-s10 right':'col m1 s2 left'">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
                    <path d="M25,1L12.611,13.388C11.785,13.138,10.908,13,10,13c-4.971,0-9,4.029-9,9s4.029,9,9,9s9-4.029,9-9
                    c0-0.909-0.138-1.785-0.389-2.612L21,17v-2h2l8-8V1H25z M29,6.171L22.172,13H21h-2v2v1.171l-1.803,1.802l-0.848,0.848l0.348,1.147
                    C16.898,20.63,17,21.313,17,22c0,3.86-3.141,7-7,7s-7-3.14-7-7s3.141-7,7-7c0.686,0,1.37,0.102,2.031,0.302l1.146,0.348
                    l0.848-0.848L25.828,3H29V6.171z"/>
                    <circle cx="8" cy="24" r="2"/>
                    <rect x="19.757" y="7.5" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 46.6274 -3.3137)" width="8.485" height="1"/>
                </svg>
            </div>
            <div ng-class="properties.rightToLeft ? 'col m11 s10 pull-s2':'col m11 s10'">
                <input type="password" id="newPassword" name="newPassword" ng-model="passwordDetails.newPassword"  popover="{{popoverMsg}}" popover-trigger="focus" password-validator required>
                <label for="newPassword">{{properties.newPassword}}</label>
                <div ng-messages="passwordForm.newPassword.$error" role="alert">
                <p class="col s12 m12 help-block error-text" ng-message="required">{{properties.enterPassword}}</p>
                <div ng-repeat="passwordError in passwordErrors">
                <p class="col s12 m12 help-block error-text" ng-show="passwordForm.newPassword.$error.requirements">{{passwordError}}</p>
                </div>
                </div>
           </div>
        </div>
        <div class="row input-field form-group" show-errors>
            <div ng-class="properties.rightToLeft ? 'col m1 s2 push-s10 right':'col m1 s2 left'">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
                    <path d="M25,1L12.611,13.388C11.785,13.138,10.908,13,10,13c-4.971,0-9,4.029-9,9s4.029,9,9,9s9-4.029,9-9
                    c0-0.909-0.138-1.785-0.389-2.612L21,17v-2h2l8-8V1H25z M29,6.171L22.172,13H21h-2v2v1.171l-1.803,1.802l-0.848,0.848l0.348,1.147
                    C16.898,20.63,17,21.313,17,22c0,3.86-3.141,7-7,7s-7-3.14-7-7s3.141-7,7-7c0.686,0,1.37,0.102,2.031,0.302l1.146,0.348
                    l0.848-0.848L25.828,3H29V6.171z"/>
                    <circle cx="8" cy="24" r="2"/>
                    <rect x="19.757" y="7.5" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 46.6274 -3.3137)" width="8.485" height="1"/>
                </svg>
            </div>
            <div ng-class="properties.rightToLeft ? 'col m11 s10 pull-s2':'col m11 s10'">
                <input type="password" id="verifyPassword" name="verifyPassword" ng-model="passwordDetails.verifyPassword" password-verify="passwordDetails.newPassword" required>
                <label for="verifyPassword">{{properties.verifyPassword}}</label>
                <div ng-messages="passwordForm.verifyPassword.$error" role="alert">
                <p class="col m12 s12 help-block error-text" ng-message="required">{{properties.verifyNewPassword}}</p>
                <p class="col m12 s12 help-block error-text" ng-show=passwordForm.verifyPassword.$error.passwordVerify>{{properties.passwordsNoMatch}}</p>
                </div>
            </div>
        </div>
        <!-- TODO do we really need this? -->
        <div class="input-field form-group" ng-show="!passwordForm.newPassword.$error.required">
          <label>{{properties.passwordRequirements}}</label>
          <progressbar value="requirementsProgress" type="{{requirementsColor}}"><span style="color:white; white-space:nowrap;">{{requirementsProgress}}%</span></progressbar>
        </div>
        <div class="ibm-submit-area form-group" ng-class="properties.rightToLeft ? 'arabic':'latin'">
          <button type="submit" class="confirm-button btn waves-effect waves-light">{{properties.save}}
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
                <path d="M25,1L12.611,13.388C11.785,13.138,10.908,13,10,13c-4.971,0-9,4.029-9,9s4.029,9,9,9s9-4.029,9-9
                c0-0.909-0.138-1.785-0.389-2.612L21,17v-2h2l8-8V1H25z M29,6.171L22.172,13H21h-2v2v1.171l-1.803,1.802l-0.848,0.848l0.348,1.147
                C16.898,20.63,17,21.313,17,22c0,3.86-3.141,7-7,7s-7-3.14-7-7s3.141-7,7-7c0.686,0,1.37,0.102,2.031,0.302l1.146,0.348
                l0.848-0.848L25.828,3H29V6.171z"/>
                <circle cx="8" cy="24" r="2"/>
                <rect x="19.757" y="7.5" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 46.6274 -3.3137)" width="8.485" height="1"/>
            </svg>
          </button>
          <button type="reset" class="setting-button btn waves-effect waves-light">
              {{properties.cancel}}
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
              <polygon points="20.293,10.293 16,14.586 11.707,10.293 10.293,11.707 14.586,16 10.293,20.293 11.707,21.707 16,17.414 
              20.293,21.707 21.707,20.293 17.414,16 21.707,11.707   "/>
              <path d="M16,2C8.269,2,2,8.269,2,16s6.269,14,14,14s14-6.269,14-14S23.731,2,16,2z M16,28C9.383,28,4,22.617,4,16S9.383,4,16,4
              s12,5.383,12,12S22.617,28,16,28z"/>
              </svg>
          </button>
           <div ng-show="error" class="col s12 text-danger">
            <strong ng-bind="error"></strong>
          </div>
      </div>
    </form>
  </div>
</section>
