<section ng-controller="EditProfileController" >
<br>
<div ng-include src="'/modules/users/client/views/profile/profile.client.view.html'">
</div>
    <div class="ibm-submit-area col m8 s12 offset-m4" ng-class="properties.rightToLeft ? 'arabic':'latin'">
          <div class="row">
             <div class="divider"></div> <br>
             <div ng-click="toggleAdvancedSetting()">
                <a ng-if="!showAdvancedSetting">{{properties.showAdvancedSettings}}</a>
                <a ng-if="showAdvancedSetting">{{properties.hideAdvancedSettings}}</a>
             </div>
             
             <div ng-class="properties.rightToLeft ? 'col s12 right-align':'col s12 left-align'" data-my-slide="showAdvancedSetting">
                 <br><br>
                 <button ng-show="user.provider === 'local'" class="setting-button btn waves-effect waves-light modal-trigger"
                 ng-click="openChangePasswordModal()" href="#changePasswordModal">{{properties.changePassword}}
                     <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
                     <path d="M3,3v26h7h12h3l4-4V3H3z M27,24.171L24.172,27H22v-2H10v2H5V5h22V24.171z"/>
                     <path d="M16,22c3.313,0,6-2.687,6-6s-2.687-6-6-6s-6,2.686-6,6S12.686,22,16,22z M16,14c1.104,0,2,0.896,2,2s-0.896,2-2,2
                     s-2-0.896-2-2S14.896,14,16,14z"/>
                     </svg>
                 </button>
                 <br><br>
                 <button class="setting-button btn waves-effect waves-light modal-trigger" 
                 ng-click="openManageSocialAccountModal()" href="#manageSocialAccountModal">{{properties.manageSocialAccount}}
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
                    <path d="M18,5V1h-4v4H6v26h20V5H18z M16,2c0.552,0,1,0.448,1,1s-0.448,1-1,1s-1-0.448-1-1S15.448,2,16,2z M24,29H8V7h6v2h4V7h6V29z"/>
                    <path d="M16,11c-2.762,0-5,2.238-5,5s2.238,5,5,5s5-2.238,5-5S18.762,11,16,11z M16,19c-1.654,0-3-1.346-3-3s1.346-3,3-3
                    s3,1.346,3,3S17.654,19,16,19z"/>
                    <path d="M12,23c-1.104,0-2,0.896-2,2v2h12v-2c0-1.104-0.896-2-2-2H12z"/>
                    </svg>
                 </button>
             </div>
        </div>
    </div>

<!-- MODAL CHANGE PASSWORD-->
<div class="ibm-modal">
  <div id="changePasswordModal" class="modal">
    <div class="modal-content">
        <div class="row">
          <div class="col s12">
          <a href="#!" class="modal-action modal-close waves-effect" ng-class="properties.rightToLeft ? 'left':'right'">
            <svg class="cancel" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
                <polygon points="20.293,10.293 16,14.586 11.707,10.293 10.293,11.707 14.586,16 10.293,20.293 11.707,21.707 16,17.414 
                    20.293,21.707 21.707,20.293 17.414,16 21.707,11.707     "/>
                <path d="M16,2C8.269,2,2,8.269,2,16s6.269,14,14,14s14-6.269,14-14S23.731,2,16,2z M16,28C9.383,28,4,22.617,4,16S9.383,4,16,4
                    s12,5.383,12,12S22.617,28,16,28z"/>
            </svg>
          </a>
          </div>
          <!-- display change password dialog -->
          <div ng-include src="'/modules/users/client/views/settings/change-password.client.view.html'"></div>
          <!-- end of change password dialog-->
        </div> <!-- end of row of modal-content-->
    </div> <!-- end of modal-content -->
  </div> <!-- end of modal -->
</div>

<!-- MODAL MANAGE SOCIAL ACCOUNT-->
<div class="ibm-modal">
  <div id="manageSocialAccountModal" class="modal">
    <div class="modal-content">
        <div class="row">
          <div class="col s12">
          <a href="#!" class="modal-action modal-close waves-effect" ng-class="properties.rightToLeft ? 'left':'right'">
            <svg class="cancel" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
                <polygon points="20.293,10.293 16,14.586 11.707,10.293 10.293,11.707 14.586,16 10.293,20.293 11.707,21.707 16,17.414 
                    20.293,21.707 21.707,20.293 17.414,16 21.707,11.707     "/>
                <path d="M16,2C8.269,2,2,8.269,2,16s6.269,14,14,14s14-6.269,14-14S23.731,2,16,2z M16,28C9.383,28,4,22.617,4,16S9.383,4,16,4
                    s12,5.383,12,12S22.617,28,16,28z"/>
            </svg>
          </a>
          </div>
          <!-- display manage social account dialog -->
          <div ng-include src="'/modules/users/client/views/settings/manage-social-accounts.client.view.html'"></div>
          <!-- end of manage social account dialog-->
        </div> <!-- end of row of modal-content-->
    </div> <!-- end of modal-content -->
  </div> <!-- end of modal -->
</div>


</section>
