<section ng-controller="SettingsController">
  <div class="page-header">
    <h5>Settings</h5>
  </div>
  <div class="row">
  <div class="col s12">

  <style>
.btn, .btn-large {
  visibility: collapse;
}
  </style>
  
   <div class="col s3">
    <div class="nav-wrapper">
     <!-- bootstrap attribute to make navigation bar -->
      <!--  <ul class="nav nav-pills nav-stacked"> -->
       <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active">
          <a ui-sref="settings.profile">Edit Profile</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="settings.picture">Change Profile Picture</a>
        </li>
        <li ui-sref-active="active" ng-show="user.provider === 'local'">
          <a ui-sref="settings.password">Change Password</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="settings.accounts">Manage Social Accounts</a>
        </li>
      </ul>
      </div>
   </div>
    
    <div class="col s9 settings-view">
      <div ui-view></div>
    </div>
    
  </div>
</div>
</section>
