@import "../../../../public/lib/IBM-Design-Colors/ibm-colors";
 
.ibm-mail{

    font-weight: 300;
    .unread-email{
        font-weight: 900;
    }
    svg {
        fill: color('gray', 40);
        height: 24px;
    }
    
    .collapsible{
        box-shadow: none;
        margin-bottom: -1rem;
    }
    
    .collapsible-header{
        padding: 0;
    }
    img.circle{
      position: relative;
        width: 42px;
        height: 42px;
        overflow: hidden;
        left: 1rem;
        top: 0.5rem;
        display: inline-block;
        vertical-align: middle;
    }
    
    .mail-content{
        padding-top: 2rem;
        
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

