<div ng-controller="AuthenticationController">

 <h6 class="col-md-12 text-center rf-brand-text">Or with your account</h6>
 <!--  very violent new lines, hahahaha -->
  <br><br><br><br><br><br><br><br><br><br><br><br>
  
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
    <form name="userForm" ng-submit="signin(userForm.$valid)" class="signin" novalidate autocomplete="off">
        <div class="input-field form-group" show-errors>
         <i class="material-icons prefix">account_circle</i>
          <input type="text" id="username" name="username" class="validate" ng-model="credentials.username" placeholder="Username" lowercase required>
          <div ng-messages="userForm.username.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Username is required.</p>
          </div>
        </div>
        <div class="input-field form-group" show-errors>
          <i class="material-icons prefix">lock_open</i>
          <input type="password" id="password" name="password" class="validate" ng-model="credentials.password" placeholder="Password" required>
          <div ng-messages="userForm.password.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Password is required.</p>
          </div>
        </div>
		
		 <br><br> 
        <div class="text-center form-group">
          <button type="submit" class="btn waves-effect waves-light rf-brand-bg">Sign in
          </button>
          &nbsp; or&nbsp;
          <a ui-sref="authentication.signup">Sign up</a>
        </div>
        <div class="text-center forgot-password">
          <a ui-sref="password.forgot">Forgot your password?</a>
        </div>
        <alert type="danger" ng-show="error" class="text-center text-danger">
          <span ng-bind="error"></span>
        </alert>
    </form>
  </div>
</div>
