/** color/font/icon designed by IBM designer Christian Fritsche
 * All CSS styles have to show properly on smartphone as well.
*/
header, main, footer {
  display: block;
  padding: 0; }

nav {
  overflow: visible; }

/** The header that controls the entire bar color/text/font **/
.ibm-header {
  background: #323232;
  /* text color */
  color: #fff;
  /* a: title */ }
  .ibm-header a {
    font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 300;
    font-stretch: normal; }

/** The logo in the header bar */
.ibm-header-logo {
  display: inline-block;
  margin-top: 10px;
  margin-right: 20px;
  padding: 0;
  background-repeat: no-repeat;
  width: 15%;
  height: 15%;
  border: 3px solid white;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%; }

/* dropdown - for each menu */
.ibm-dropdown-container {
  /* override materialize dropdown hover color because red is ugly :P */ }
  .ibm-dropdown-container li:hover {
    /* menu background color when it's hovered*/
    background: #e0e0e0;
    /* text color when it's hovered*/ }
    .ibm-dropdown-container li:hover a.active, .ibm-dropdown-container li:hover a:hover {
      color: #323232; }
  .ibm-dropdown-container li.active {
    background: #323232;
    /* text color when it's hovered and active*/ }
    .ibm-dropdown-container li.active a.active, .ibm-dropdown-container li.active a:hover {
      color: #fff; }

/* dropdown - for each component inside the menu*/
.ibm-dropdown-component {
  /* the first menu item starts below the header bar*/
  margin-top: 62px;
  background: #323232;
  /* li: menu component */ }
  .ibm-dropdown-component li a {
    /* menu text */
    color: #fff;
    font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 300;
    font-stretch: normal;
    /* icon */ }
    .ibm-dropdown-component li a i {
      font-size: 16px; }
  .ibm-dropdown-component li a:hover {
    /* menu text */
    color: #323232; }

/** Cover picture - no gap between the picture and its neighbours **/
.ibm-cover-container {
  overflow: hidden;
  display: block;
  /* img: cover picture */ }
  .ibm-cover-container img {
    width: 100%;
    positoin: relative;
    margin-bottom: -10px; }

/** welcome bar - between the header and the footer */
.ibm-welcome-bar {
  padding: 20px;
  background: #5596e6;
  /* text color */
  color: #fff;
  /* img: logo */
  /* h1: headline */
  /* h2: sub-headline */ }
  .ibm-welcome-bar img {
    display: block;
    height: 100px;
    padding: 0;
    margin: 10px 20px 20px 50px;
    border: 4px solid white;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 100px; }
  .ibm-welcome-bar h1 {
    font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 300;
    font-stretch: normal;
    font-size: 32px;
    margin: 20px; }
  .ibm-welcome-bar h2 {
    font-family: "HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 500;
    font-stretch: normal;
    font-size: 16px;
    margin: 20px; }

/* Help bar/footer */
.ibm-help-bar {
  background: #f9f9fb;
  padding: 10px 10px 10px;
  margin-top: 20px;
  /* h1: icon */
  /* h2: headline */
  /* p: text */
  /* a: button */ }
  .ibm-help-bar h1 svg {
    fill: #5596e6; }
  .ibm-help-bar h2 {
    color: #5596e6;
    font-family: "HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 300;
    font-stretch: normal;
    font-size: 20px; }
  .ibm-help-bar p {
    color: #30393b;
    font-family: "HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 300;
    font-stretch: normal;
    font-size: 11px; }
  .ibm-help-bar a {
    background: #008571;
    font-family: "HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 300;
    font-stretch: normal;
    font-size: 16px;
    text-transform: capitalize; }

/** This design below comes with Mean.JS **/
.undecorated-link:hover {
  text-decoration: none; }

[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important; }

.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px; }

.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1; }

.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important; }

.error-text {
  display: none; }

.has-error .help-block.error-text {
  display: block; }

.has-error .help-inline.error-text {
  display: inline; }

/*# sourceMappingURL=core-ibm-design.css.map */
