/** color/font/icon designed by IBM designer Christian Fritsche
 * All CSS styles have to show properly on smartphone as well.
*/
html {
  position: relative;
  min-height: 80%; }

body {
  margin: 0 0 5% 0; }

/** Mac ratio - avoid cropping of welcome message for home screen. **/
@media screen and (device-aspect-ratio: 16 / 10) {
  body {
    margin: 0 0 6.5% 0; } }
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%; }

nav {
  overflow: visible; }

footer.page-footer {
  background-color: #fff;
  /* inherit and override footer-copyright*/
  margin: 0 0 0 0;
  padding: 0 0 0 0; }
  footer.page-footer .ibm-footer-copy-right-container {
    background-color: #f9f9fb;
    color: #959595;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    margin-bottom: -20px; }

/** The header that controls the entire bar color/text/font **/
.ibm-header {
  padding: 0 10% 0 10%;
  background: #323232;
  /* text color */
  color: #fff;
  /* override materialize style, use IBM design icons */ }
  .ibm-header svg {
    margin-top: 1px;
    height: 24px;
    width: 24px;
    margin-left: 8px;
    margin-right: 8px;
    vertical-align: middle;
    fill: #fff; }

/** The brand logo 4Refuge.es common setup for bigger screens as well as smaller screens*/
.ibm-brand-logo {
  font-size: 25px; }

/** The header logo icon common setup for screens over the min size defined below*/
.ibm-header-logo {
  display: inline-block;
  margin-top: 0.6%;
  width: 50px;
  background-repeat: no-repeat;
  border: 3px solid white;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%; }

/** The header logo needs some space to the brand name in Latin languages*/
.ibm-header-logo.latin {
  float: left;
  margin-right: 2%; }

/** The header logo needs some space to the brand name in the header bar in Arabic*/
.ibm-header-logo.arabic {
  float: right;
  margin-left: 2%; }

/** The logo in the header bar for small screen such as mobile */
/* dropdown - for each menu */
/* override materialize dropdown hover color because red is ugly :P */
.ibm-dropdown-container li:hover, .ibm-dropdown-container li.active {
  /* menu background color when it's hovered*/
  background: #e0e0e0;
  /* text color when the header menu is active or hovered*/ }
  .ibm-dropdown-container li:hover a.active, .ibm-dropdown-container li:hover a:hover, .ibm-dropdown-container li.active a.active, .ibm-dropdown-container li.active a:hover {
    color: #323232; }
    .ibm-dropdown-container li:hover a.active svg, .ibm-dropdown-container li:hover a:hover svg, .ibm-dropdown-container li.active a.active svg, .ibm-dropdown-container li.active a:hover svg {
      fill: #323232; }
.ibm-dropdown-container svg {
  /* override materialize style, use IBM design icons */
  margin-top: 1px;
  height: 24px;
  width: 24px;
  vertical-align: middle;
  fill: #fff; }

.ibm-dropdown-container a.signin-header {
  width: 180px; }

.ibm-dropdown-container.arabic a.signin-header svg {
  margin-left: 100px;
  margin-right: 0; }

/* dropdown - for each component inside the menu, only shown when the screen is wider than 960px or so*/
.ibm-dropdown-component {
  /* the first menu item starts below the header bar, fixed size because the header height doesn't change by the screen size*/
  margin-top: 64px;
  background: #323232;
  /* li: menu component */
  /* the menu component being currently selected is highlighted in a light color, so the text should be dark*/ }
  .ibm-dropdown-component li a {
    /* menu text */
    color: #fff;
    /* small material icon for language check marks */
    /* for new email icon */
    /* svg IBM design icons*/ }
    .ibm-dropdown-component li a i.small {
      font-size: 16px; }
    .ibm-dropdown-component li a span {
      background: #8c101c;
      font-size: 12px; }
    .ibm-dropdown-component li a svg {
      fill: #fff; }
  .ibm-dropdown-component li a:hover, .ibm-dropdown-component li a.active, .ibm-dropdown-component li a:hover svg, .ibm-dropdown-component li a.active svg {
    /* menu component text e.g. mail, profile */
    color: #323232;
    /* svg icons of menu components*/
    fill: #323232; }
  .ibm-dropdown-component li.active a, .ibm-dropdown-component li.active a svg {
    /* menu component text e.g. mail, profile */
    color: #323232;
    /* svg icons of menu components*/
    fill: #323232; }

.ibm-dropdown-component.latin li a svg {
  margin: 0 15% 10% 0;
  float: left; }

.ibm-dropdown-component.arabic li a svg {
  margin: 0 0 10% 0;
  float: right; }
.ibm-dropdown-component.arabic li a span {
  /* new email icon*/
  margin-right: 12px; }

/* mobile menu */
.ibm-mobile-menu {
  margin-top: 56px;
  overflow-y: hidden;
  background: #323232;
  /* li: menu component */ }
  .ibm-mobile-menu li a {
    /* menu text */
    color: #fff;
    /* svg IBM design icons*/ }
    .ibm-mobile-menu li a span {
      /* for new email icon */
      background: #8c101c;
      font-size: 12px;
      margin-top: 12px; }
    .ibm-mobile-menu li a svg {
      fill: #fff; }
  .ibm-mobile-menu li a:hover {
    /* menu text */
    color: #323232; }
  .ibm-mobile-menu li a:hover svg {
    fill: #323232; }

.ibm-mobile-menu.latin li a svg {
  margin: 10% 15% 0 0;
  float: left; }

.ibm-mobile-menu.arabic li a svg {
  margin: 10% 0 0 0;
  float: right; }
.ibm-mobile-menu.arabic li a span {
  /* for new email icon */
  margin-right: 12px; }

.ibm-mobile-menu.language {
  /* according to materialize.css, every "a" takes up 64 px, so we pick 192px for 3 languages */
  height: 192px;
  /* small material icon for language check marks, materialize.css doesn't work for icon size for whatever reason, we override the size and line-height 
  * line-height is 400% of the current font size. 
  */ }
  .ibm-mobile-menu.language li a i.small {
    font-size: 1rem;
    line-height: 400%; }

/* normal user has 3 items, sign-in, sign-up, about-me*/
.ibm-mobile-menu.user {
  height: 192px; }

/* authenticated user has 5 tiems*/
.ibm-mobile-menu.authenticated-user {
  height: 320px; }

.ibm-mobile-menu.admin {
  height: 128px; }

/** Cover picture - no gap between the picture and its neighbours, no padding to the grid, the rule with !important is always applied **/
.ibm-cover-container {
  margin-bottom: -10%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  /* img: cover picture */ }
  .ibm-cover-container img {
    width: 100%;
    overflow: hidden;
    display: block; }

/** welcome bar - between the header and the footer */
.ibm-welcome-bar {
  background: #5596e6;
  /* text color */
  color: #fff;
  /* img: logo in fixed size in Latin languages */
  /* h1: headline */
  /* h2: sub-headline */ }
  .ibm-welcome-bar img {
    margin: 10% 0 10% 0;
    display: block;
    height: 100px;
    border: 4px solid white;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 100px; }
  .ibm-welcome-bar h1 {
    font-size: 32px; }
  .ibm-welcome-bar h2 {
    font-size: 16px; }

/* Help bar/footer */
.ibm-help-bar {
  background: #f9f9fb;
  margin-top: -10px;
  /* h1: icon */
  /* h2: headline */
  /* p: text */
  /* a: button */ }
  .ibm-help-bar h1 svg {
    fill: #5596e6;
    margin-bottom: -25px; }
  .ibm-help-bar h2 {
    color: #5596e6;
    font-size: 20px; }
  .ibm-help-bar p {
    color: #30393b;
    font-size: 11px; }
  .ibm-help-bar a {
    background: #008571;
    font-size: 16px;
    text-transform: capitalize; }

/* smaller screens */
@media screen and (max-width: 500px) {
  /* The header bar needs padding to its left and right so the logo and menu are located more in the middle*/
  .ibm-header {
    padding: 0 2% 0 2%; }

  /* On smaller screens, logo width has a fixed size so its size won't gradually change with the screen size*/
  .ibm-header-logo {
    margin-top: 2%;
    width: 40px; }

  /* welcome to Germany bar for smaller screens, logo to the right needs space*/
  .ibm-welcome-bar.arabic img {
    margin-right: 10%; } }
/* bigger screens based on materialize css definition */
@media screen and (min-width: 992px) {
  /* welcome to Germany bar in Arabic */
  .ibm-welcome-bar.arabic h1, .ibm-welcome-bar.arabic h2 {
    margin-left: 60%; }

  /* footer bar on small/big screen */
  .ibm-visible-small-screen {
    display: none; }

  .ibm-visible-big-screen {
    padding-top: 0;
    width: 70%; } }
@media screen and (max-width: 992px) {
  .ibm-visible-big-screen {
    display: none; }

  .ibm-footer-bar {
    margin-bottom: 0.5%;
    margin-right: -1%; }
    .ibm-footer-bar a {
      width: 32.5%;
      padding-top: 5%;
      padding-bottom: 5%;
      background-color: #464646; }
    .ibm-footer-bar a svg {
      fill: #fff;
      display: block;
      margin: auto; }

  html {
    min-height: 93%; }

  /* the distance between ibm footer bar to the body*/
  body {
    margin: 0 0 18% 0; }

  .ibm-home-container {
    margin-right: -3%;
    margin-left: -3%; }

  .ibm-cover-container {
    margin-bottom: 0; }

  footer.page-footer .ibm-footer-copy-right-container {
    background-color: #323232;
    color: #959595;
    height: 50px;
    line-height: 50px; }
    footer.page-footer .ibm-footer-copy-right-container a {
      color: #959595;
      text-decoration: underline; }

  .drag-target {
    width: 0; } }
/** This design below comes with Mean.JS **/
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  margin-right: 5px;
  margin-bottom: -10px; }

/*# sourceMappingURL=core-ibm-design.css.map */
